<div class="page-header">
	<h2><%= t("business_profile_image") %> <%= t("Edit")%></h2>
</div>
<%= render 'form' %>

<%= link_to 'Show', @business_profile_image %> |
<%= link_to 'Back', business_profile_images_path %>
