<div class="page-header">
	<h2><%= t("change_password") %> </h2>
</div>
<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :class => "form" }) do |f| %>
<%= devise_error_messages! %>
		<%= f.label :email, t("email"), :class => "" %>
		<%= resource.email %>
		<%= f.label :password, t("new_password"), :class => "" %>
		<%= f.password_field :password, :autocomplete => "off" %>
		<%= f.label :password_confirmation, t("new_password_confirmation"), :class => " " %>
		<%= f.password_field :password_confirmation %>
		<%= f.label :current_password, t("current_password"), :class => " " %>
		<%= f.password_field :current_password %>
		<br>
		<%= f.submit t("change_password"), :class => "btn" %>
<% end %>
<%= link_to t("Back"), :root, :class => "btn"%>

