<%= form_for(@system_setting, :html => { :class => "form" }) do |f| %>
<%= admin_error_messages!(@system_setting) %>

<%= f.label :post_expiry_length, t(:post_expiry_length), :class => "" %>
<%= f.number_field :post_expiry_length, :class => "" %>
<span class="help-block"><%= t("must_be_filled") %></span>
<span class="help-block"><%= t("must_be_numbers") %></span>
<label class="checkbox"><%= f.check_box :socialable %><%= t(:socialable) %></label>
<%= f.label :issue_report_to, t(:issue_report_to), :class => "" %>
<%= f.email_field :issue_report_to, :class => "" %>
<%= f.label :admin_email, t(:admin_email), :class => "" %>
<%= f.email_field :admin_email, :class => "" %>
<%= f.label :contact_email, t(:contact_email), :class => "" %>
<%= f.email_field :contact_email, :class => "" %>
<label class="checkbox"><%= f.check_box :top_page_ajax %><%= t(:top_page_ajax) %></label>
<label class="checkbox"><%= f.check_box :banner_clickable %><%= t(:banner_clickable) %></label>
<label class="checkbox"><%= f.check_box :banner_ajaxable %><%= t(:banner_ajaxable) %></label>
<%= f.submit t("create"), :class => "btn btn-primary" %>
<% end %>

