<div class="page-header">
	<h2><%= t("listing_system_settings") %></h2>
</div>
<table class="table table-hover table-condensed table-striped">
		<tr>
			<th><%= t(:post_expiry_length) %></th>
			<th><%= t(:socialable) %></th>
			<th><%= t(:issue_report_to)%></th>
			<th><%= t(:admin_email)%></th>
			<th><%= t(:contact_email)%></th>
			<th><%= t(:top_page_ajax)%></th>
			<th><%= t(:banner_clickable)%></th>
			<th><%= t(:banner_ajaxable)%></th>
			<th class="last"></th>
		</tr>
		<% @system_settings.each do |system_setting| %>
		<tr class="" >
			<td><%= t("#{system_setting.post_expiry_length}") << " " << t("day") %></td>
			<td><%= t("#{system_setting.socialable}") %></td>
			<td><%= system_setting.issue_report_to %></td>
			<td><%= system_setting.admin_email %></td>
			<td><%= system_setting.contact_email %></td>
			<td><%= t("#{system_setting.top_page_ajax}") %></td>
			<td><%= t("#{system_setting.banner_clickable}") %></td>
			<td><%= t("#{system_setting.banner_ajaxable}") %></td>
			<td>
			<%= link_to t('Edit'), edit_system_setting_path(system_setting), :class => "btn btn-link" %>
		</tr>
		<% end %>
	</table>
</div>
