<%= form_for(@business_category, :html => { :class => "form" }) do |f| %>
<%= admin_error_messages!(@business_category) %>
<%= f.label :en_name, t("en_name"), :class => "" %>
<%= f.text_field :en_name, :class => "" %>
<span class="help-block"><%= t("must_be_filled") %></span>
<span class="help-block"><%= t("only_characters") %></span>
<%= f.label :display_name, t("display_name"), :class => "" %>
<%= f.text_field :display_name, :class => "" %>
<span class="help-block"><%= t("must_be_filled") %></span>
<span class="help-block"><%= t("korean_allowed") %></span>
<%= f.label :search_keyword, t("search_keyword"), :class => "" %>
<%= f.text_field :search_keyword, :class => "" %>
<span class="help-block"><%= t("optional") %></span>
<span class="help-block"><%= t("commma_separated") %></span>
<%= f.submit t("create"), :class => "btn btn-primary" %>
<% end %>

