<div class="page-header">
	<h2><%= t("business_category") %> <%= t("Edit") %></h2>
</div>
<%= render 'form' %>

<%= link_to t('Show'), @business_category %> |
<%= link_to t('Back'), business_categories_path %>