<%= form_for(@client_image, :html => { :class => "form" }) do |f| %>
<%= f.hidden_field :business_client_id, :value => @business_client.id %>
<% if @client_image.errors.any? %>
<div id="error_explanation">
	<h2><%= pluralize(@client_image.errors.count, "error") %> prohibited this client_image from being saved:</h2>
	<ul>
		<% @client_image.errors.full_messages.each do |msg| %>
		<li>
			<%= msg %>
		</li>
		<% end %>
	</ul>
</div>
<% end %>
<div class="group wat-cf">
	<div class="">
		<%= f.label :business_name, t("business_name"), :class => "label left" %>
	</div>
	<div class="">
	<%= f.label :business_name, "#{@business_client.business_name}", :readonly => true %>
	</div>
</div>
<div class="group wat-cf">
	<div class="">
		<%= f.label :avatar, t("client_banner_image"), :class => "label left" %>
	</div>
	<div class="">
		<%= f.file_field :avatar %>
	</div>
	<span class="description"><%= t("client_image_acceptable_extention") %></span>
</div>
<div class="group wat-cf">
	<div class="">
		<%= f.label :medium_size, t("client_image_size"), :class => "label left" %>
	</div>
	<div class="">
	<%= f.select :medium_size, options_for_select(@resolutions) %>
	</div>
	<span class="description"><%= t("client_image_size_is_changed") %></span>
</div>
<div class="group wat-cf">
	<div class="">
		<%= f.label :link_to_url, t("client_image_link_to_url"), :class => "label left" %>
	</div>
	<div class="">
		<%= f.text_field :link_to_url, :class => "text_field" %>
	</div>
	<span class="description"><%= t("client_image_leave_blank_to_show_profile") %></span>
</div>
<div class="group wat-cf">
	<div class="left">
		<%= f.submit t("add"), :class => "button" %>
	</div>
</div>
<% end %>
