<%= render :partial => 'sales_managements/shared/head' %>
<div class="content">
	<% if !@category %>
	<h2 class="title"><%= t('sales_management_title')%></h2>
	<div class="inner">
		<p>
			<%= t("sales_management_description")%>
		</p>
	</div>
	<% else %>

	<h2 class="title"><%= t("listing_#{@category}")%></h2>
	<div class="inner">
		<%= link_to t("new_#{@category}"), new_category_path(@category, @post.current_page) %>
		<div style="float:right"><%= paginate @post %></div>
		<table class="table">
			<tr>
				<th class="first"><%= t("Id") %></th>
				<th><%= t("hide") %></th>
				<th><%= t("category") %></th>
				<% if @category == Okvalue::ACCOMMODATION %>
					<th><%= t("room_type") %></th>
				<% end %>
				<th><%= t("subject") %></th>
				<!-- th><%= t("author") %></th -->
				<th><%= t("valid_until") %></th>
				<th><%= t("image") %></th>
				<th class="last"></th>
			</tr>
			<% if @post.nil? || @post.empty? %>
			<tr><td colspan="7">
			<p>
				<%= t("no_information")%>
			</p>
			</td></tr>
			<% else %>
			<% @post.each do |item| %>
			<tr class="<%= cycle("odd", "even") %>">
				<td><%= item.id %></td>
				<td><%= t("#{item.is_deleted}") %></td>
				<td><%= t("#{item.category}") %></td>
				<% if @category == Okvalue::ACCOMMODATION %>
					<td><%= t("#{item.room_type}") %></td>
				<% end %>
				<td><%= _truncate(item.subject) %></td>
				<!-- td><%= item.posted_by.email if !item.posted_by.nil? %></td -->
				<td><%= Common.date_format(item.valid_until) %></td>
				<td><div id="thumbnail_box_<%=item.id%>">
					<%= noimage?(item) %>
					<% item.image.each do |image| %>
					<%= thumbnail(image, sales_managements_delete_image_path(item, :category => @category, :image => image.id)) %>
					<% end %>
					</div>
				</td>
				<td><%= link_to t('Show'), show_category_parh(@category, item, @post.current_page) %><br/><%= link_to t('Edit'), edit_category_path(@category, item, @post.current_page) %><br/>
					<%= link_to t("delete_#{@category}"), delete_category_path(@category, item, @post.current_page), method: :delete, data: { confirm: t('confirm_delete') } %></td>
			</tr>
			<% end %>
					<% end %>
		</table>


	</div>
		<% end %>
</div>
