<%= form_for(@admin_notice, :html => { :class => "form" }) do |f| %>
<%= admin_error_messages!(@admin_notice) %>
<% if !@admin_notice.id.nil? %>
		<%= f.label :status, t("status"), :class => "" %>
		<%= f.select :status, options_for_select(@admin_notice.status_list, @admin_notice.status), :id => "" %>
<% end %>
		<%= f.label :subject, t(:subject), :class => "" %>
		<%= f.text_field :subject, :class => "" %>
	<span class="help-block"><%= t("must_be_filled") %></span>
<%= f.fields_for @admin_notice.content do |content_form| %>
		<%= content_form.label :body, t("content"), :class => "" %>
		<%= content_form.cktext_area :body, :toolbar => 'Full' %>
	<span class="help-block"><%= t("must_be_filled") %></span>
<% end %>
		<%= f.submit t("create"), :class => "btn btn-primary" %>
<% end %>

