<h2 class="title"><%= t("admin_notice") %> <%= t("Edit") %></h2>
<div class="inner">
	<%= render 'form' %>
<%= link_to t('Show'), @admin_notice %> |
<%= link_to t('Back'), admin_notices_path %>

</div>