<div style="width:100%; position: relative; top:10px;">
	<%= noimage?(@banner) %>
	<% @banner.client_image.each do |client_image| %>
	<div style="position: relative; float: left; padding: 5px; width: 150px">
		<%= link_to image_tag(client_image.avatar.url(:thumb)), client_image.avatar.url(:medium), :target => "_blank"%>
		<ul>
			<li>
				<%= link_to client_image.attached.business_name, client_image.attached, :target => "_blank" %>
			</li>
			<li>
				<%= client_image.original_size %>
			</li>
			<li>
				<%= client_image.clicked %>&nbsp;<%= t("client_image_clicked") %>
			</li>
		</ul>
		<div style="position: relative; left: 50%">
			<%= link_to t('delete'), "#", :class => 'button', :id => "_dettach_image_#{client_image.id}" %>
			<%= _script(%Q|$('\#_dettach_image_#{client_image.id}').click(function() { dettach_image('#{client_image.id}'); return false;})|) %>
		</div>
	</div>
	<% end %>
</div>
