<%= form_for(@banner, :html => { :class => "form" })  do |f| %>
<% if @banner.errors.any? %>
<div id="error_explanation">
	<h2><%= pluralize(@banner.errors.count, "error") %> prohibited this banner from being saved:</h2>
	<ul>
		<% @banner.errors.full_messages.each do |msg| %>
		<li>
			<%= msg %>
		</li>
		<% end %>
	</ul>
</div>
<% end %>

<div class="group wat-cf">
	<div class="">
	<%= f.label :width, :class => "label left" %>
	</div>
	<div class="">
	<%= f.text_field :width, :class => "text_field" %>
	</div>
</div>
<div class="group wat-cf">
	<div class="">
	<%= f.label :height, :class => "label left" %>
	</div>
	<div class="">
	<%= f.text_field :height, :class => "text_field" %>
	</div>
</div>
<div class="group wat-cf">
	<div class="left">
		<%= f.submit t("create"), :class => "button" %>
	</div>
</div>

<% end %>

