<%= render :partial => 'banners/shared/head' %> <h2 class="title"><%= t("banner") %> <%= t("page") %> <%= t("listing") %></h2>
<div class="inner">
	<table class="table">
		<thead>
			<tr>
				<th class="first"><%= t(:page) %></th>
				<% 1.upto(@position_id_max[:s_header]) { |p| %>
				<th><%= "#{t(:s_header)}\##{p}" %></th>
				<% } %>
				<% 1.upto(@position_id_max[:s_background]) { |p| %>
				<th><%= "#{t(:s_background)}\##{p}" %></th>
				<% } %>
				<% 1.upto(@position_id_max[:s_body]) { |p| %>
				<th><%= "#{t(:s_body)}\##{p}" %></th>
				<% } %>
			</tr>
		</thead>
		<tbody>
			<% @allpages.each do |page, banners| %>
			<tr class="<%= cycle("odd", "even") %>" >
				<td><%= link_to t(Style.page(page)), banners_path(:page_id => Style.pageid_key(page)) %></td>
				<% banner = banners[:s_header] %>
				<% i = 1 %>
				<% banner.each do |e| %>
				<% if e.is_disabled %>
				<td style="opacity: 0.2;filter: alpha(opacity=20);"><%= link_to(e.img_resolution, edit_banner_path(e, :page_id => e.page_id), :class => "button") %></td>
				<% else %>
				<td><%= link_to(e.img_resolution, select_banners_path(:banner => e, :page_id => e.page_id), :class => "button") %></td>
				<% end %>
				<% i += 1%>
				<% end %>
				<% i.upto(@position_id_max[:s_header]) { |p| %>
					<td></td>
				<% } %>
				
				<% banner = banners[:s_background] %>
				<% i = 1 %>
				<% banner.each do |e| %>
				<% if e.is_disabled%>
				<td style="opacity: 0.2;filter: alpha(opacity=20);"><%= link_to(e.img_resolution,edit_banner_path(e, :page_id => e.page_id), :class => "button") %></td>
				<% else %>
				<td><%= link_to(e.img_resolution, select_banners_path(:banner => e, :page_id => e.page_id), :class => "button") %></td>
				<% end %>
				<% i += 1%>
				<% end %>
				<% i.upto(@position_id_max[:s_background]) { |p| %>
					<td></td>
				<% } %>
				
				<% banner = banners[:s_body] %>
				<% i = 1 %>
				<% banner.each do |e| %>
				<% if e.is_disabled%>
				<td style="opacity: 0.2;filter: alpha(opacity=20);"><%= link_to(e.img_resolution, edit_banner_path(e, :page_id => e.page_id), :class => "button") %></td>
				<% else %>
				<td><%= link_to(e.img_resolution, select_banners_path(:banner => e, :page_id => e.page_id), :class => "button") %></td>
				<% end %>
				<% i += 1%>
				<% end %>
				<% i.upto(@position_id_max[:s_body]) { |p| %>
					<td></td>
				<% } %>
			</tr>

			<% end %>
		</tbody>
	</table>
</div>
