<h2 class="title"><%= t("listing_banners") %></h2>
<div class="inner">

	<div class="group wat-cf">
		<div class="">
			<%= label_tag :page, t("page"), :class => "label left" %>
		</div>
		<div class="">
			<%= select_tag :page, options_from_collection_for_select(Page.all, "id", "name", @page_id) , :id => 'page_changed' %>
		</div>
	</div>
	<br/>
	<script type="text/javascript" charset="utf-8">
		$('#page_changed').change(function() {
window.location.href ="<%= banners_path %>" + "&page_id=" + $('#page_changed').val() ;
	});
	</script>
	<div style="float:right">
		<%= paginate @banners %>
	</div>
	<table class="table">
		<tr>
			<th class="first"><%= t("id") %></th>
			<th><%= t("banner_page") %></th>
			<th><%= t("size") %></th>
			<th><%= t("client_banner_image") %></th>
			<th class="last">&nbsp;</th>
		</tr>

		<% @banners.each do |banner| %>
		<tr class="<%= cycle("odd", "even") %>" >
			<td><%= banner.id%></td>
			<td><%= link_to banner.name, banner_path(:id => banner, :page => @banners.current_page) %></td>
			<td><%= banner.width%>&nbsp;x&nbsp;<%= banner.height%></td>
			<td>
				<% if banner.client_image.empty? %>
				<%= noimage %>
				<% elsif %>
				<% banner.client_image.each do |client_image| %>
			<%= link_to image_tag(client_image.avatar.url(:thumb), :style => "width:40px;height:40px", :title => client_image.business_client.business_name), client_image.avatar.url(:medium), :target => "_blank" %>
			<% end %> 
			<% end %></td>
			<td><%= link_to t("banner_attach_images"), edit_banner_path(banner)  %> | <%= link_to t("banner_upload_images"), new_client_image_path(:banner => banner, :page => @banners.current_page)  %></td>
		</tr>
		<% end %>
	</table>
</div>
