<%= render :partial => 'banners/shared/head' %>

<h2 class="title"><%= t('banner')%></h2>
<div class="inner">
	<h3><%= @banner.name %> <%= t("Edit") %></h3>
	<style>
		#images {
			min-height: 500px;
			overflow: auto;
			position: relative;
		}
		#business_client_content {
			min-height: 100%;
			max-width: 45%;
			padding: 10px;
			margin-top: 20px;
			margin-bottom: 20px;
			float: left;
			position: relative;
		}
		#_business_client_image {
			margin-top: 10px;
			float: left;
			position: relative;
			width: 100%;
		}
		#select_size {
			margin-top: 10px;
			float: left;
			padding: 5px;
			position: relative;
			width: 100%;
		}
		#banner_content {
			min-height: 100%;
			max-width: 45%;
			padding: 10px;
			margin-top: 20px;
			margin-bottom: 20px;
			float: left;
			position: relative;
		}
	</style>
	<div id="images">
		<div id="business_client_content">
			<h3><%= t("business_client")%> :
			<div id="_business_client_name">
				<%= t("please_select") %>
			</div></h3>
			<%= select_tag :business_client, options_from_collection_for_select(@business_clients, :second, :first, 0), :include_blank => true, :id => "business_client_select" %>
			<%= _script(%Q|
			populate_image = function(target) {
			if($("\#" + target + "_select").val() != "") {
			$("\#_" + target + "_loading").css("display", "block");
			$("#_" + target + "_image").html('');
			$.post("select_" + target + "_image", {id: $('\#' + target + '_select').val(), size: $('\#_selected_size').val(), banner: $('\#banner_select').val()})
			}};
			push_image = function(target, id) {
			$("\#_business_client_loading").css("display", "block")
			$("\#_banner_loading").css("display", "block");
			$("#_business_client_image").html('');
			$("#_banner_image").html('');
			$.post(target + "_banner_image", {client_image: id, size: $('\#_selected_size').val(), business_client: $('\#business_client_select').val(), banner: $('\#banner_select').val()})
			}			
			attach_image = function(id) { push_image("attach", id) }
			dettach_image = function(id) { push_image("dettach", id) }
			filter_size = function(target) {
				$("\#_select_" + target + "_size").attr("style", "color:rgb(15, 99, 30);font-size:medium;font-weight:bold");
				if(target == "all") {
					$('\#_select_specific_size').attr("style","");
					$('\#_select_not_selected_size').attr("style","");
					$('\#_selected_size').val("all");
				}
				else if(target == "specific" ){
					$('\#_select_all_size').attr("style","");
					$('\#_select_not_selected_size').attr("style","");
					$('\#_selected_size').val("specific");
				}
				else if(target == "not_selected" ){
					$('\#_select_all_size').attr("style","");
					$('\#_select_specific_size').attr("style","");
					$('\#_selected_size').val("not_selected");
				}
			}
			|) %>
			<%= _script_document_ready(%Q|
			filter_size("specific");
			populate_image('business_client');
			filter_size("specific");
			$('\#business_client_select').change(function() { filter_size("specific"); populate_image('business_client'); })
			$('\#_select_specific_size').click(function() {filter_size("specific");populate_image('business_client'); return false;})
			$('\#_select_all_size').click(function() {filter_size("all");populate_image('business_client'); return false;})
			$('\#_select_not_selected_size').click(function() {filter_size("not_selected");populate_image('business_client'); return false;})
			|) %>
			<div class="group wat-cf">
				<div id="_business_client_loading" style="display:none">
					<%= image_tag ("loading.gif")%>
				</div>
				<div id="select_size">
					<%= hidden_field_tag :_size, '', :id => "_selected_size"%>
					<%= link_to t("select_specific_size"), '#', :id => "_select_specific_size", :class => "button"%>
					<%= link_to t("select_not_selected_size"), '#', :id => "_select_not_selected_size", :class => "button"%>
					<%= link_to t("select_all_size"), '#', :id => "_select_all_size", :class => "button"%>
				</div>
				<div id="_business_client_image"></div>
			</div>
		</div>
		<div id="banner_content">
			<h3><%= t("client_banner_image") %> <%= t('size') %> :
			<div id="_banner_image_size">	<%= @banner.img_resolution %></div></h3>
			<%= select_tag :banner, options_from_collection_for_select(@banners, "id", "name_with_img_resolution", @banner.id), :include_blank => false, :id => "banner_select", :multiple => false %>
			<%= _script_document_ready(%Q|populate_image('banner');
			$('\#banner_select').change(function() {filter_size("specific");populate_image('banner');populate_image('business_client')})|) %>
			<div class="group wat-cf">
				<div id="_banner_loading" style="display:none">
					<%= image_tag ("loading.gif")%>
				</div>
				<div id="_banner_image"></div>
			</div>
		</div>

	</div>
<%= link_to t('Back'), banners_path(:page_id => @page_id) %>
</div>
</div>
