<h2><%= t("listing_banners") %></h2>
<h2><%= @banner.name %></h2>
<div class="inner">
	<table class="table">
		<tr class="even">
			<td><%= label_tag :enabled, t("hide"), :class => "label left" %> </td>
			<td><%= t("#{@banner.is_disabled}") %> </td>
		</tr>
		<% style = "" %>
		<% style = "opacity: 0.2;filter: alpha(opacity=20);" if @banner.is_disabled %>
		<tr class="odd" style="<%=style%>">
			<td><%= label_tag :div_resolution, t("div_size"), :class => "label left" %> </td>
			<td> <%= @banner.div_resolution %> </td>
		</tr>
		<tr class="even" style="<%=style%>">
			<td><%= label_tag :img_resolution, t("image_size"), :class => "label left" %> </td>
			<td> <%= @banner.img_resolution %> </td>
		</tr>
		<tr class="odd" style="<%=style%>">
			<td><%= label_tag :style, t("style"), :class => "label left" %> </td>
			<td> <%= @banner.style %> </td>
		</tr>
		<tr class="even" style="<%=style%>">
			<td><%= label_tag :effect, t("effect"), :class => "label left" %> </td>
			<td> <%= @banner.effect %> </td>
		</tr>
		<tr class="odd" style="<%=style%>">
			<td><%= label_tag :effect_speed, t("effect_speed"), :class => "label left" %> </td>
			<td> <%= @banner.effect_speed %> </td>
		</tr>
		<tr class="even" style="<%=style%>">
			<div id="business_client_banner_images">
				<td><%= label_tag :client_image, t("client_banner_image"), :class => "label left" %></td>
				<td>
				<div style="width:100%; position: relative; display: inline;">
					<% if @banner.client_image %>
					<% @banner.client_image.each do |client_image| %>
					<div style="position: relative; float: left; padding: 5px; width: 150px">
						<%= link_to image_tag(client_image.avatar.url(:thumb)), client_image.avatar.url(:medium), :target => "_blank"%>
						<ul>
							<li>
								<%= link_to client_image.attached.business_name, client_image.attached, :target => "_blank"%>
							</li>
							<li>
								<%= client_image.original_size %>
							</li>
							<li>
								<%= client_image.clicked %>&nbsp;<%= t("client_image_clicked") %>
							</li>
						</ul>
						<div style="float:left; position: relative; margin-top: 5px">
							<%= form_for(client_image, :method => :post, :url => client_image_dettach_path(client_image), :html => { :class => "form" }) do |f| %>
							<%= f.submit t("client_image_remove_from_banner"), :confirm => t("confirm_remove_from_banner"), :class => "button"%>
							<% end %>
						</div>
					</div>
					<% end %>
					<% end  %>
				</div></td>
			</div>
		</tr>
		</div>
	</table>

	<!-- %= link_to t('Edit'), edit_banner_path(@banner, :page => @current_page) %> | -->
	<%= link_to t('Back'), banners_path(:page_id => @page_id,) %>
</div>