<div class="page-header">
	<h2><%=t("member")%> <%=t("List")%></h2>
</div>

		<form action="#" class="form">
			<table class="table table-condensed table-hover table-striped">
				<tr>
					<th class="first"><%= t(:post_id) %></th>
					<th><%= t(:email) %></th>
					<th><%= t(:name) %></th>				
					<th><%= t(:provider) %></th>
					<th><%= t(:confirmed) %></th>
					<th><%= t(:current_signin_at) %></th>
					<th><%= t(:total_signin) %></th>
					<th><%= t(:number_of_post) %></th>
					<th class="last"></th>
				</tr>
				<% @users.each do |user| %>
				<tr>
					<td><%= user.id%></td>
					<td><%= link_to user.email, user, :class => "btn btn-link" %>
					<% if !user.locked? %>
					<td><%= user.name %></td>			
					<% else %>	
					<td><span class="text-warning"><i class="icon-lock"></i><%= user.name %></span></td>			
					<% end %>
					<td><%= user.provider%></td>
					<td>
						<% if user.confirmed_at.present? %>
						<i class="icon-ok"></i>
						<% end %>
					</td>
					<td><%= Common.date_format_ymdhms(user.current_sign_in_at)%></td>
					<td><%= user.sign_in_count%></td>
					<td><%= user.mypage.num_of_post %></td>
					<td>
					<% if !user.is_special %>
					<%= link_to t('Delete'), user, :method => :delete, :data => { :confirm => t("confirm_delete") }, :class => "btn btn-link" %>
					 | <%= link_to t('block_user'), users_block_path(user), :method => :post, :data => { :confirm => t("confirm_block") }, :class => "btn btn-link" %>
					<% end %>
					</td>
				</tr>
				<% end %>
			</table>
		</form>

