<h2 class="title"><%= t('')%></h2>
<div class="inner">
	<p>
		<%= t("change_your_password_regulary")%>
	</p>

	<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put, :class => "form"  }) do |f| %>
	<%= devise_error_messages! %>
	<%= f.hidden_field :reset_password_token %>

	<div class="group wat-cf">
		<div class="left">
			<%= f.label :password, t("new_password"), :class => "label left" %>
			<%= f.password_field :password %>
		</div>
	</div>

	<div class="group wat-cf">
		<div class="left">
			<%= f.label :password_confirmation, t("password_confirmation"), :class => "label left" %>
			<%= f.password_field :password_confirmation %>
		</div>
	</div>

	<div class="group wat-cf">
		<div class="left">
			<%= f.submit t("change_password"), :class => "button" %>
		</div>
	</div>
	<% end %>
</div>
