<%= form_for(@post, :html => { :class => "form" }) do |f| %>
<%= hidden_field_tag :category, @category %>
<%= f.hidden_field :write_at, :id => "write_at" %>
<% if @post.errors.any? %>
<div id="error_explanation">
	<ul>
		<% @post.errors.full_messages.each do |field, msg| %>
		<li>
			<%= field %>
		</li>
		<% end %>
	</ul>
</div>
<br/>
<% end %>
<div class="group wat-cf">
	<div class="">
		<%= f.label :author, t("author"), :class => "label left" %>
	</div>
	<div class="">
		<% if @post.posted_by %>
		<%= @post.posted_by.name %>
		<% else %>
		<%= current_admin.name %>
		<% end %>
	</div>
</div>
<div class="group wat-cf">
	<div class="">
		<%= f.label :status, t("status"), :class => "label left" %>
	</div>
	<div class="">
		<%= f.select :status, options_for_select(@post.status_list, @post.status), :id => "_hide" %>
	</div>
</div>
<div id="_filter">
	<div class="group wat-cf">
		<div class="">
			<%= f.label :subject, t("subject"), :class => "label left" %>
		</div>
		<div class="">
			<%= f.text_field :subject, :class => "text_field" %>
		</div>
		<span class="description"><%= t("must_be_filled") %></span>
	</div>
	<div class="group wat-cf">
		<div class="">
			<%= f.label :category, t("category"), :class => "label left" %>
		</div>
		<div class="">
			<% if @post.id.nil? %>
			<%= f.select :category, options_for_select(@post.admin_category_list, @post.category) %>
			<% else %>
			<%= t(@post.category) %>
			<% end %>
		</div>
	</div>
	<% if @post.respond_to? :room_type %>
	<div class="group wat-cf">
		<div class="">
			<%= f.label :room_type, t("room_type"), :class => "label left" %>
		</div>
		<div class="">
			<%= f.select :room_type, options_for_select(@post.room_type_list, @post.room_type) %>
		</div>
		<span class="description"><%= t("must_be_selected") %></span>
	</div>
	<% end%>
	<% if @post.respond_to? :price %>
	<div class="group wat-cf">
		<div class="">
			<%= f.label :price, t("price"), :class => "label left" %>
		</div>
		<div class="">
			<%= f.text_field :price, :class => "text_field" %>
		</div>
		<span class="description"><%= t("must_be_filled") %></span>
	</div>
	<% end %>
	<div class="group wat-cf">
		<div class="">
			<%= f.label :valid_until, t('valid_until'), :class => "label left" %>
		</div>
		<div class="">
			<%= f.date_select :valid_until, :class => "right" %><%= t('until')%>
		</div>
	</div>
	<%= f.fields_for @post.content do |content_form| %>
	<div class="group wat-cf">
		<div class="">
			<%= content_form.label :body, t("content"), :class => "label left" %>
		</div>
		<div class="">
			<%= content_form.cktext_area :body, :toolbar => 'Full' %>
		</div>
	</div>
	<% end %>

	<% if !@post.id.nil? %>
	<div class="group wat-cf">
		<div class="">
			<%= f.label :views, t("viewed"), :class => "label left" %>
		</div>
		<div class="">
			<%= f.number_field :views, :class => "text_field" %>
		</div>
	</div>
	<div class="group wat-cf">
		<div class="">
			<%= f.label :likes, t("liked"), :class => "label left" %>
		</div>
		<div class="">
			<%= f.number_field :likes, :class => "text_field" %>
		</div>
	</div>
	<div class="group wat-cf">
		<div class="">
			<%= f.label :dislikes, t("disliked"), :class => "label left" %>
		</div>
		<div class="">
			<%= f.number_field :dislikes, :class => "text_field" %>
		</div>
	</div>
	<div class="group wat-cf">
		<div class="">
			<%= f.label :rank, t("rank"), :class => "label left" %>
		</div>
		<div class="">
			<%= f.number_field :rank, :class => "text_field" %>
		</div>
	</div>
	<div class="group wat-cf">
		<div class="">
			<%= f.label :abuse, t("abuse"), :class => "label left" %>
		</div>
		<div class="">
			<%= f.number_field :abuse, :class => "text_field" %>
		</div>
	</div>
	<% end %>
</div>
<div class="group wat-cf">
	<div class="left">
		<%= f.submit t("create"), :class => "button" %>
	</div>
</div>

<% end %>

<!-- TODO
<%= _script_document_ready(%Q|
if ($('#_hide').val() == #{Okvalue::POST_STATUS_HIDDEN}) {$('#_filter').attr("style", "opacity: 0.2;filter: alpha(opacity=20);") }; $('#_hide').click(function() { if ($('#_hide').is(":checked")) {$('#_filter').attr("style", "opacity: 0.2;filter: alpha(opacity=20);") } else {$('#_filter').attr("style", "") }});|)%>
-->
