
<div id="_header" style="position: relative; width:100%; top:0px; height: 300px">
	<%= edittable_single_header_banner(1) %>
	<%= edittable_single_header_banner(2) %>
</div>
<div id="_body" style="position: relative; width:100%;">
	<div id="first_section">
		<div id="section_left" style="position: relative; width:30%; float: left">
			<%= edittable_single_body_banner(1) %>
			<%= edittable_single_body_banner(2) %>
			<%= edittable_single_body_banner(3) %>
		</div>
		<div id="section_right" style="position: relative; width:70%; float: left">
			<%= edittable_single_body_banner(4) %>
		</div>
	</div>
	<div id="second_section">
	</div>
</div>
