<div class="page-header">
	<h2><%= "#{t(:contact)} #{t(:listing)}" %></h2>
</div>

<div class="pagination">
	<%= paginate @contacts %>
</div>
<table class="table table-hover table-condensed table-striped">
	
		<tr>
			<th><%= t(:subject)%></th>
			<th><%= t(:body)%></th>
			<th><%= t(:email) %></th>
			<th><%= t(:user_name) %></th>
			<th><%= t(:phone)%></th>
			<th class="last"></th>
		</tr>
		<% @contacts.each do |contact| %>
		<tr class="" >
			<td><%= contact.contact_type_name %></td>
			<td><%= raw(contact.body) %></td>
			<td><%= contact.email %></td>
			<td><%= contact.user_name %></td>
			<td><%= contact.phone %></td>
			<td>
			<%= link_to t(:Show), contact_path(contact), :class => "btn btn-link" %> |
			<%= link_to t(:Delete), contact, :method => :delete, :data => { :confirm => t('confirm_delete') }, :class => "btn btn-link" %>
		</tr>
		<% end %>
	</table>
