<div class="page-header">
	<h2><%= t(:contact) %> #<%= @contact.id %></h2>
</div>
<table class="table table-hover table-condensed table-striped">
		<th class="first"><%= t(:item) %></th>
		<th class="last"><%= t(:content) %></th>
		<tr class="">
			<td><%= label_tag :created_at, t(:created_at), :class => "" %> </td>
			<td><%= Common.date_format(@contact.created_at) %></td>
		</tr>
		<tr class="">
			<td><%= label_tag :contact_type, t(:subject), :class => "" %> </td>
			<td><%= @contact.contact_type_name %></td>
		</tr>
		<tr class="">
			<td><%= label_tag :body, t(:content), :class => "" %> </td>
			<td><%= @contact.body %></td>
		</tr>
		<tr class="">
			<td><%= label_tag :email, t(:email), :class => "" %> </td>
			<td><%= @contact.email %></td>
		</tr>
		<tr class="">
			<td><%= label_tag :user_name, t(:user_name), :class => "" %> </td>
			<td><%= @contact.user_name %></td>
		</tr>
		<tr class="">
			<td><%= label_tag :phone, t(:phone), :class => "" %> </td>
			<td><%= @contact.phone %></td>
		</tr>
	</table>
	<%= link_to t('List'), contacts_path(:page => @current_page), :class => "btn btn-link" %>
</div>

