<%= render :partial => 'sales_managements/shared/head' %> <h2><%= t("#{@category}") %> #<%= @post.id %></h2>
<div class="inner">
	<table class="table">
		<th class="first"><%= t("item") %></th>
		<th class="last"><%= t("content") %></th>
		<tr class="odd">
			<td><%= label_tag :is_deleted, t("hide"), :class => "label left" %> </td>
			<td><%= t("#{@post.is_deleted}") %></td>
		</tr>
		<tr class="even">
			<td><%= label_tag :posted_by, t("author"), :class => "label left" %> </td>
			<td><%= @post.posted_by.email %></td>
		</tr>
		<tr class="odd">
			<td><%= label_tag :category, t("category"), :class => "label left" %> </td>
			<td><%= t("#{@post.category}") %></td>
		</tr>
		<tr class="even">
			<td><%= label_tag :valid_until, t("valid_until"), :class => "label left" %> </td>
			<td><%= Common.date_format(@post.valid_until) %></td>
		</tr>
		<tr class="odd">
			<td><%= label_tag :subject, t("subject"), :class => "label left" %> </td>
			<td><%= @post.subject %></td>
		</tr>
		<tr class="even">
			<td><%= label_tag :avatar, t("image"), :class => "label left" %> </td>
			<td>
			<div id="thumbnail_box_<%=@post.id%>">
				<%= render :partial => 'posts_managements/shared/image_box' %>
			</div></td>
		</tr>
		<tr class="odd">
			<td><%= label_tag :avatar, t("attachment"), :class => "label left" %> </td>
			<td>
			<div id="attachment_box_<%=@post.id%>">
				<%= render :partial => 'posts_managements/shared/attachment_box' %>
			</div></td>
		</tr>
		<tr class="even">
			<td><%= label_tag :context, t("content_body"), :class => "label left" %> </td>
			<td><%= raw @post.content.body if !@post.content.nil? %> </td>
		</tr>
	</table>
	<!-- %= link_to t('Edit'), edit_post_path(@category, @post, @current_page) % --> |
	<%= link_to t('List'), posts_managements_path(:category => @category, :page => @current_page) %>
</div>

