<%= form_for(@estate, :html => { :class => "form" }) do |f| %>
<% if @estate.errors.any? %>
<div id="error_explanation">
<!-- 	<h2><%= pluralize(@estate.errors.count, "error") %> prohibited this <%= t('#{@category}') %> from being saved:</h2> -->
	<ul>
		<% @estate.errors.full_messages.each do |field, msg| %>
		<li>
			<%= field %>
		</li>
		<% end %>
	</ul>
</div>
<br/>
<% end %>

<div class="group wat-cf">
	<div class="">
		<%= f.label t("image"), :class => "label left" %>
	</div>
	<div class="">
		<%= _upload("estates", @estate.id) %>
	</div>
	<span class="description"><%= t("acceptable_extention") %></span><br/>
	<span class="description"><%= t("max_size") %></span>
</div>
<div id="_upload_images"></div>
<div class="group wat-cf">
	<div class="">
		<%= f.label :subject, t("subject"), :class => "label left" %>
	</div>
	<div class="">
		<%= f.text_field :subject, :class => "text_field" %>
	</div>
	<span class="description"><%= t("must_be_filled") %></span>
</div>
<%= f.fields_for @estate.content do |content_form| %>
<div class="group wat-cf">
	<div class="">
		<%= content_form.label :body, t("content"), :class => "label left" %>
	</div>
	<div class="">
		<%= content_form.cktext_area :body, :toolbar => 'Full' %>
	</div>
	<span class="description"><%= t("optional") %></span>
</div>
<% end %>
<div class="group wat-cf">
	<div class="left">
		<%= f.submit t("create"), :class => "button" %>
	</div>
</div>
<% end %>
