<div class="page-header">
	<h2><%= t("#{@category}") %> #<%= @post.id %> <%= t('Edit')%></h2>
</div>

<%= render 'sales_managements/shared/form' %>
<%= link_to t('Show'), show_management_path(@post, @category, @current_page), :class => "btn btn-link" %> |
<%= link_to t('Back'), management_path(@category, @current_page), :class => "btn btn-link" %>
