<%= form_for(@post, :html => { :class => "form" }) do |f| %>
<%= hidden_field_tag :category, @category %>
<%= f.hidden_field :write_at, :id => "write_at" %>
<%= admin_error_messages!(@post) %>
	<% if @category.eql?(Style.page(:p_issue)) %>
	<label><%=t("issue_report_to")%> <%= SystemSetting.first.issue_report_to %></label>
	<% end %>
	<div class="pull-right">
	<%= f.label :author, t("author"), :class => "" %>
	<span class="label label-info"><%= post_author(@post) %></span>
	</div>
	<% if (!@category.eql?(Style.page(:p_issue)) || !@post.id.nil?) %>
		<%= f.label :status, t("status"), :class => "" %>
		<%= f.select :status, options_for_select(@post.status_list, @post.status), :id => "_hide" %>
	<% end %>
	<div id="_filter">
		<%= f.label :subject, t("subject"), :class => "" %>
		<%= f.text_field :subject, :class => "" %>
		<span class="help-block"><%= t("must_be_filled") %></span>
		<%= f.label :category, t("category"), :class => "" %>
		<% if @category.eql?(Style.page(:p_issue)) %>
			<%= f.select :category, options_for_select(@post.category_list, @post.category) %>
		<% else %>
			<%= f.select :category, options_for_select(@post.admin_category_list, @post.category) %>
		<% end %>
		<span class="help-block"><%= t("must_be_selected") %></span>
		<% if @post.respond_to? :address %>
			<%= f.label :address, t(:address), :class => "" %>
			<%= f.text_field :address, :class => "" %>
		<span class="help-block"><%= t("optional") %></span>
		<% end%>
		<% if @post.respond_to? :bed %>
			<%= f.label :bed, t(:bed), :class => "" %>
			<%= f.select :bed, options_for_select(Okvalue::BED_LIST, @post.bed), :include_blank => true %>
		<span class="help-block"><%= t("optional") %></span>
		<% end%>
		<% if @post.respond_to? :bath %>
			<%= f.label :bath, t(:bath), :class => "" %>
			<%= f.select :bath, options_for_select(Okvalue::BATH_LIST, @post.bath), :include_blank => true %>
		<span class="help-block"><%= t("optional") %></span>
		<% end%>
		<% if @post.respond_to? :garage %>
			<%= f.label :garage, t(:garage), :class => "" %>
			<%= f.select :garage, options_for_select(Okvalue::GARAGE_LIST, @post.garage), :include_blank => true %>
		<span class="help-block"><%= t("optional") %></span>
		<% end%>
		<% if @post.respond_to? :room_type %>
			<%= f.label :room_type, t("room_type"), :class => "" %>
			<%= f.select :room_type, options_for_select(@post.room_type_list, @post.room_type) %>
		<span class="help-block"><%= t("must_be_selected") %></span>
		<% end%>
		<% if @post.respond_to? :price %>
			<%= f.label :price, t("price"), :class => "" %>
			<%= f.text_field :price, :class => "" %>
		<span class="help-block"><%= t("must_be_filled") %></span>
		<% end %>
			<% if @category.eql?(Style.page(:p_issue)) %>
			<%= f.label :valid_until, t('due_date'), :class => "" %>
			<% else %>
			<%= f.label :valid_until, t('valid_until'), :class => "" %>
			<% end %>
			<%= f.date_select :valid_until, :class => "right" %><%= t('until')%>
		<% if !@category.eql?(Style.page(:p_issue)) %>
		<%= f.label :add_image, t("image") + t("add"), :class => "" %>
	    <div class="image bs-docs box_shadow">	

	    	<div class="flash"><div class="image_upload_progress"></div></div>
			<div class="image_upload_status" style="display:none"><%= image_tag("common/loading.gif")%></div>

			<ul class="nav nav-tabs" id="image_tabs">
				<li><a href="#image_tabs_upload"><%=t("upload")%></a></li>
				<li><a href="#image_tabs_link"><%=t("link")%></a></li>
			</ul>
			<div class="tab-content">
			<div class="tab-pane" id="image_tabs_upload">
				<span class="help-block"><%= t("post_image_upload_description") %></span>
				<%= file_field_tag :image, :id => "image" %>
				<%= text_area_tag :something, '', :placeholder => t("write_something"), :class => "", :id => "something"%>
				<%= f.label :link_to_url, t("link_to_url"), :class => "" %>
				<span class="help-block"><%= t("link_on_image_click") %></span>
				<%= url_field_tag :link_to_url, nil, :placeholder => t("write_link_to_url"), :id => "link_to_url", :class => "input-xxlarge"  %>
				<br>
				<%= link_to t("add"), "#", :id => "upload_image_submit", :class => "btn btn-inverse"%>
				<%= _script_document_ready(%Q|
			    $('#image_tabs a').click(function (e) {
			    	e.preventDefault();
			    	$(this).tab('show');
			    });
			    $(function () {
					$('#image_tabs a:first').tab('show');
				})
				|)%>
				<% script = %Q|
			    function upload_image() {
				  if($('\#image').val() != "") {
      				$('div.image_upload_status').css("display","block");
     				var formData = new FormData();
      				formData.append("file", document.getElementById('image').files[0]);
      				formData.append("something",$("\#something").attr("value"));
				    formData.append("authenticity_token", $("input[name='authenticity_token']").attr("value"));
				    formData.append("timestamp", $("\#write_at").attr("value"));
				    formData.append("link_to_url", $("\#link_to_url").attr("value"));
				    formData.append("category", "#{@category}");|
				    if !@post.id.nil?
				    	script += %Q|formData.append("id", #{@post.id});|
				    end
				    script += %Q|
      				var xhr = new XMLHttpRequest();
      				xhr.upload.addEventListener("progress", uploadImageProgress, false);
         	        xhr.addEventListener("load", uploadImageComplete, false);
      				xhr.open("POST", "#{controller_path}/upload_image", true);
      				xhr.send(formData);
      			  }
    			};
    			function uploadImageProgress(event) {
      				var progress = Math.round((event.loaded / event.total) * 100);
      				$('div.image_upload_progress').html(progress + "%");
    			};
    			function uploadImageComplete(event) {
    			   $('div.image_upload_status').css("display","none");
    			   $('div.display_url_image').html('');
    			   $("\#source_url").val('');
    			   $('\#image').val('');
    			   $('\#something').val('');
                   if (event.target.status != 200) {
                     $('div.image_upload_progress').html("<div class=\\"message error\\">"
                       + "<p><strong>#{t("failed_to_upload")}</strong></p></div>");
                       return false;
                    }
                    data = JSON.parse(event.target.responseText);
                    if(data.result == 2) {
                    $('div.image_upload_progress').html("<div class=\\"message error\\">"
                      + "<p><strong>#{t("invalid_file_extention")}</strong></p></div>");
                    } else if(data.result != 0) {
                    $('div.image_upload_progress').html("<div class=\\"message error\\">"
                      + "<p><strong>#{t("failed_to_upload")}</strong></p></div>");
                    } else {
                      $('div.image_upload_progress').html("<div class=\\"message notice\\">"
                      + "<p><strong>#{t("successfully_uploaded")}</strong></p></div>");
                      showImages(data);
                    }
    			 };
    			 function showImages(data) {
    			 	 ids = data.images;
                     thumbnails = data.thumbnails;
                     somethingies = data.somethingies;
                     ws = data.widths;
                     hs = data.heights;
                     var html = "";
                     for (var i=0; i<ids.length; i++) {
                       html += '<div style="position: relative; float: left;margin-left: 5px;maring-right:5px">';
                       html += '<img src="' + thumbnails[i] + '" width=' + ws[i] + 'px height=' + hs[i] + 'px title="' + somethingies[i] + '" />';
                       html += '<div style="position: absolute; top: 0px; left:95%;">';
                       html += '<a href="#{controller_path}/delete_image?a_id=' + ids[i] + '&t=' + $('\#write_at').val()|
				       if !@post.id.nil?
				    	 script += %Q| + '&id=#{@post.id}'|
   				       end
				       script += %Q| + '" class="delete_x" rel="nofollow" data-remote="true" data-method="delete" data-confirm="#{t('confirm_delete')}" title="#{t('delete')}">' + "#{t('x')}" + "</a>"
                       html += "</div></div>"
                     }
                     $('div.display_image').html(html);
    			 };
    			| %>
    			<%= _script(%Q|$('\#upload_image_submit').click(function() {upload_image();return false});
    			$('\#image').click(function() {$('div.image_upload_progress').html('');});
    			| + script) %>
			</div>
			<div class="tab-pane" id="image_tabs_link">
				<span class="help-block"><%= t("post_image_upload_description") %></span>
				<%= url_field_tag :source_url, nil, :placeholder => t("enter_url"), :id => "source_url", :class => "input-xxlarge" %>
				<%= link_to t("show_image"), "#", :id => "source_url_image_read", :class => "btn btn-link" %>
				<div class="image_read_status" style="display:none"><%= image_tag("common/loading.gif")%></div>
				<div class="display_url_image"></div>
				<br>
			    <%= text_area_tag :something, '', :placeholder => t("write_something"), :class => "", :id => "something" %>
				<%= f.label :link_to_url, t("link_to_url"), :class => "" %>
				<span class="help-block"><%= t("link_on_image_click") %></span>
				<%= url_field_tag :link_to_url, nil, :placeholder => t("write_link_to_url"), :id => "link_to_url", :class => "input-xxlarge"  %>
				<br/>
				<%= link_to t("add"), "#", :id => "source_url_image_submit", :class => "btn btn-inverse"%>
				<% script = %Q|
				function readImageComplete(event) {
    			   $('div.image_read_status').css("display","none");
                   if (event.target.status != 200) {
                     $('div.image_upload_progress').html("<div class=\\"message error\\">"
                       + "<p><strong>#{t("failure")}</strong></p></div>");
                       return false;
                    }
                    data = JSON.parse(event.target.responseText);
                    if(data.result != 0) {
                    $('div.image_upload_progress').html("<div class=\\"message error\\">"
                      + "<p><strong>#{t("failure")}</strong></p></div>");
                    } else {
       					$('div.display_url_image').html('<img src="'  + $("\#source_url").attr("value") + '" width=80px height=80px/>');
                    }
    			 };
				function read_image() {
				  if($('\#source_url').val() != "") {
      				$('div.image_read_status').css("display","block");
      				var formData = new FormData();
				    formData.append("authenticity_token", $("input[name='authenticity_token']").attr("value"));
				    formData.append("source_url", $("\#source_url").attr("value"));
				    var xhr = new XMLHttpRequest();
         	        xhr.addEventListener("load", readImageComplete, false);
      			    xhr.open("POST", "#{controller_path}/read_image_from_url", true);
      			    xhr.send(formData);
      				}
      			}
      			function upload_image_from_url() {
				  if($('\#source_url').val() == "") return;
      			  $('div.image_upload_status').css("display","block");
     			  var formData = new FormData();
				  formData.append("authenticity_token", $("input[name='authenticity_token']").attr("value"));
				  formData.append("something",$("\#something").attr("value"));
				  formData.append("timestamp", $("\#write_at").attr("value"));
				  formData.append("source_url", $("\#source_url").attr("value"));
				  formData.append("link_to_url", $("\#link_to_url").attr("value"));
				  formData.append("category", "#{@category}");|
				  if !@post.id.nil?
				    script += %Q|formData.append("id", #{@post.id});|
				  end
				  script += %Q|
      			  var xhr = new XMLHttpRequest();
         	      xhr.addEventListener("load", uploadImageComplete, false);
      			  xhr.open("POST", "#{controller_path}/upload_image_from_url", true);
      			  xhr.send(formData);
    			};
      			| %>
				<%= _script(%Q|$('\#source_url_image_read').click(function() {read_image();return false});
				$('\#source_url_image_submit').click(function() {upload_image_from_url();return false});
				| + script) %>

			</div>
			</div>

		<div class="display_image row-fluid">
			<% @images = @post.image %>
			<% @timestamp = @post.write_at %>
			<%= render :partial => 'sales_managements/shared/upload_image_box' %>
		</div>			
		</div>
		<% end %>
		<div class="attachment bs-docs box_shadow">
			<div class="attachment_help-block" style="width:400px;margin:5px;">
	    	<%= f.label :add_attachment, t("attachment") + t("add"), :class => "" %>
			<div class="flash"><div class="attachment_upload_progress"></div></div>
	    	<span class="help-block"><%= t("post_attachment_upload_description") %></span>
	    	<br/>
			<%= file_field_tag :attachment, :id => "attachment" %>
			<br/>
			</div>
			<div style="position:relative;float:left;margin-top:10px">
			<div class="attachment_upload_status" style="display:none"><%= image_tag("common/loading.gif")%></div>
			</div>
			<% script = %Q|
                function upload_attachment() {
				  if($('\#attachment').val() != "") {
      				$('div.attachment_upload_status').css("display","block");
     				var formData = new FormData();
      				formData.append("file", document.getElementById('attachment').files[0]);
				    formData.append("authenticity_token", $("input[name='authenticity_token']").attr("value"));
				    formData.append("timestamp", $("\#write_at").attr("value"));
				    formData.append("category", "#{@category}");|
			        if !@post.id.nil?
				    	script += %Q|formData.append("id", #{@post.id});|
				    end
				    script += %Q|
      				var xhr = new XMLHttpRequest();
      				xhr.upload.addEventListener("progress", uploadAttachmentProgress, false);
         	        xhr.addEventListener("load", uploadAttachmentComplete, false);
      				xhr.open("POST", "#{controller_path}/upload_attachment", true);
      				xhr.send(formData);
      			  }
    			};
    			function uploadAttachmentProgress(event) {
      				var progress = Math.round((event.loaded / event.total) * 100);
      				$('div.attachment_upload_progress').html(progress + "%");
    			};
    			 function uploadAttachmentComplete(event) {
    			   $('div.attachment_upload_status').css("display","none");
    			   $('\#attachment').val('');
                   if (event.target.status != 200) {
                     $('div.attachment_upload_progress').html("<div class=\\"message error\\">"
                       + "<p><strong>#{t("failed_to_upload")}</strong></p></div>");
                       return false;
                    }
                    data = JSON.parse(event.target.responseText);
                    if(data.result == 2) {
                    $('div.attachment_upload_progress').html("<div class=\\"message error\\">"
                      + "<p><strong>#{t("invalid_file_extention")}</strong></p></div>");
                    } else if(data.result != 0) {
                    $('div.attachment_upload_progress').html("<div class=\\"message error\\">"
                      + "<p><strong>#{t("failed_to_upload")}</strong></p></div>");
                    } else {
                      $('div.attachment_upload_progress').html("<div class=\\"message notice\\">"
                      + "<p><strong>#{t("successfully_uploaded")}</strong></p></div>");
                      showAttachments(data);
                    }
    			 };
    			 function showAttachments(data) {
                      ids = data.attachments;
                      filesnames = data.filenames;
                      var html = "";
                      for (var i=0; i<ids.length; i++) {
                        html += '<div style="position: relative; float: left;margin-left: 5px">';
                        html += '<img src="/assets/common/Icon-Document03-Blue.png" width=50px height=50px title="' + filesnames[i] + '" />';
                        html += '<div style="position: absolute; top: 0px; left:95%;">';
                        html += '<a href="#{controller_path}/delete_attachment?a_id=' + ids[i] + '&t=' + $('\#write_at').val()|
				        if !@post.id.nil?
				    	  script += %Q| + '&id=#{@post.id}'|
   				        end
				        script += %Q| + '" class="delete_x" rel="nofollow" data-remote="true" data-method="delete" data-confirm="#{t('confirm_delete')}" title="#{t('delete')}">' + "#{t('x')}" + "</a>"
                        html += "</div></div>"
                      }
                      $('div.display_attachment').html(html);
    			 }
    			| %>
		    <%= _script(%Q|$('\#attachment').change(function() {upload_attachment();});
		       $('\#attachment').click(function() {$('div.attachment_upload_progress').html('');});
		    | + script) %>
			<div class="display_attachment row-fluid"></div>
			</div>

			<% if @post.id.nil? || (!@category.eql?(Style.page(:p_issue)) && !@post.id.nil?) %>
			<%= f.fields_for @post.content do |content_form| %>
			<%= content_form.label :body, t("content"), :class => "" %>
			<%= content_form.cktext_area :body, :toolbar => 'Full' %>

		<span class="help-block"><%= t("must_be_filled") %></span>
		<% end %>
		<% else %>
			<%= f.label :body, t("content"), :class => "" %>
			<%= raw @post.content.body %>
		<% end %>
		<% if !@category.eql?(Style.page(:p_issue)) %>
			<%= f.label :views, t(:viewed), :class => "" %>
			<%= f.text_field :views, :class => "" %>
		<span class="help-block"><%= t(:set_zero_to_reset) %></span>
			<%= f.label :likes, "#{t(:likes)} #{t(:number_of)}", :class => "" %>
			<%= f.text_field :likes, :class => "" %>
		<span class="help-block"><%= t(:set_zero_to_reset) %></span>
			<%= f.label :dislikes, "#{t(:dislikes)} #{t(:number_of)}", :class => "" %>
			<%= f.text_field :dislikes, :class => "" %>
		<span class="help-block"><%= t(:set_zero_to_reset) %></span>
			<%= f.label :abuse, "#{t(:abuse)} #{t(:number_of)}", :class => "" %>
			<%= f.text_field :abuse, :class => "" %>
		<span class="help-block"><%= t(:set_zero_to_reset) %></span>
			<%= f.label :rank, t(:rank), :class => "" %>
			<%= f.text_field :rank, :class => "" %>
		<span class="help-block"><%= t(:set_zero_to_reset) %></span>
	<% end %>
</div>

<%= f.submit t("create"), :class => "btn btn-primary" %>

<% end %>
<% script = ""%>
<% if !@category.eql?(Style.page(:p_issue)) %>
<% script += %Q|
$('div.image_upload_status').css("display","block");

$.post("| + controller_path + "/get_image" + %Q|", {timestamp: $('\#write_at').val()|
if !@post.id.nil?
	script += ", id: #{@post.id}"
end
script += %Q|}, function(data) {
  $('div.image_upload_status').css("display","none");
  showImages(data);
});
|%>
<% end %>
<% script += %Q|
$('div.attachment_upload_status').css("display","block");
$.post("| + controller_path + "/get_attachment" + %Q|", {timestamp: $('\#write_at').val()|
if !@post.id.nil?
	script += ", id: #{@post.id}"
end
script += %Q|}, function(data) {
  $('div.attachment_upload_status').css("display","none");
  showAttachments(data);
});
|%>
<% script += %Q|
$('\#image_tabs').tabs();
$('#image').click(function() {$('\#source_url').val('');});
$('#source_url').click(function() {$('\#image').val('');});
|%>
<%= _script_document_ready(script) %>
