<%= form_for(@post, :html => { :class => "form" }) do |f| %>
<%= hidden_field_tag :category, @category %>
<%= f.hidden_field :write_at, :id => "write_at" %>
<%= admin_error_messages!(@post) %>

<% if @category.eql?(Style.page(:p_issue)) %>
<div class="group wat-cf">
	<div class="">
		<%= f.label :issue_report_to, t("send_email_to"), :class => "label left" %>
	</div>
	<div class="">
		To : <%= Okvalue::ISSUE_REPORT_TO %>
	</div>
</div>
<% end %>
<div class="group wat-cf">
	<div class="">
		<%= f.label :author, t("author"), :class => "label left" %>
	</div>
	<div class="">
		<% if @post.posted_by %>
		<%= @post.posted_by.name %>
		<% else %>
		<%= current_admin.name %>
		<% end %>
	</div>
</div>
<% if !@category.eql?(Style.page(:p_issue)) %>
<div class="group wat-cf">
	<div class="">
		<%= f.label :status, t("status"), :class => "label left" %>
	</div>
	<div class="">
		<%= f.select :status, options_for_select(@post.status_list, @post.status), :id => "_hide" %>
	</div>
</div>
<% end %>
<div id="_filter">
	<div class="group wat-cf">
		<div class="">
			<%= f.label :subject, t("subject"), :class => "label left" %>
		</div>
		<div class="">
			<%= f.text_field :subject, :class => "text_field" %>
		</div>
		<span class="description"><%= t("must_be_filled") %></span>
	</div>
	<div class="group wat-cf">
		<div class="">
			<%= f.label :category, t("category"), :class => "label left" %>
		</div>
		<div class="">
			<%= f.select :category, options_for_select(@post.category_list, @post.category) %>
		</div>
		<span class="description"><%= t("must_be_selected") %></span>
	</div>
	<% if @post.respond_to? :room_type %>
	<div class="group wat-cf">
		<div class="">
			<%= f.label :room_type, t("room_type"), :class => "label left" %>
		</div>
		<div class="">
			<%= f.select :room_type, options_for_select(@post.room_type_list, @post.room_type) %>
		</div>
		<span class="description"><%= t("must_be_selected") %></span>
	</div>
	<% end%>
	<% if @post.respond_to? :price %>
	<div class="group wat-cf">
		<div class="">
			<%= f.label :price, t("price"), :class => "label left" %>
		</div>
		<div class="">
			<%= f.text_field :price, :class => "text_field" %>
		</div>
		<span class="description"><%= t("must_be_filled") %></span>
	</div>
	<% end %>
	<div class="group wat-cf">
		<div class="">
			<% if @category.eql?(Style.page(:p_issue)) %>
			<%= f.label :valid_until, t('due_date'), :class => "label left" %>
			<% else %>
			<%= f.label :valid_until, t('valid_until'), :class => "label left" %>
			<% end %>
		</div>
		<div class="">
			<%= f.date_select :valid_until, :class => "right" %><%= t('until')%>
		</div>
	</div>
	<% if !@category.eql?(Style.page(:p_issue)) %>
	<div class="group wat-cf">
	    <div class="image" style="position:relative;border: 3px solid #8FDA71;float:left">
	        <div class="image_description" style="width:500px;margin:5px;">
	    	<%= f.label :add_image, t("image") + t("add"), :class => "label left" %>
	    	<div class="flash"><div class="image_upload_progress"></div></div>
	        <span class="description"><%= t("post_image_upload_description") %></span>
	        <br/>
			<%= file_field_tag :image, :id => "image" %>
			<%= text_area_tag :something, '', :placeholder => t("write_something"), :class => "text_area", :id => "something", :style => "resize:none;margin-top:5px;height:60px;text-align:top" %>
			<%= f.label :link_to_url, t("link_to_url"), :class => "label left" %>
			<span class="description"><%= t("link_on_image_click") %></span>
			<br/>
			<%= url_field_tag :link_to_url, nil, :placeholder => t("write_link_to_url"), :id => "link_to_url", :class => "text_field"  %>
			<br/>
			<%= link_to t("add"), "#", :id => "upload_image_submit", :class => "button", :style => "margin:5px" %>
			<br/>
			</div>
			<div style="position:relative;float:left;margin-top:10px">
			<div class="image_upload_status" style="display:none"><%= image_tag("common/loading.gif")%></div>
			</div>
			<% script = %Q|
			    function upload_image() {
				  if($('\#image').val() != "") {
      				$('div.image_upload_status').css("display","block");
     				var formData = new FormData();
      				formData.append("file", document.getElementById('image').files[0]);
      				formData.append("something",$("\#something").attr("value"));
				    formData.append("authenticity_token", $("input[name='authenticity_token']").attr("value"));
				    formData.append("timestamp", $("\#write_at").attr("value"));
				    formData.append("link_to_url", $("\#link_to_url").attr("value"));
				    formData.append("category", "#{@category}");|
				    if !@post.id.nil?
				    	script += %Q|formData.append("id", #{@post.id});|
				    end
				    script += %Q|
      				var xhr = new XMLHttpRequest();
      				xhr.upload.addEventListener("progress", uploadImageProgress, false);
         	        xhr.addEventListener("load", uploadImageComplete, false);
      				xhr.open("POST", "#{controller_path}/upload_image", true);
      				xhr.send(formData);
      			  }
    			};
    			function uploadImageProgress(event) {
      				var progress = Math.round((event.loaded / event.total) * 100);
      				$('div.image_upload_progress').html(progress + "%");
    			};
    			function uploadImageComplete(event) {
    			   $('div.image_upload_status').css("display","none");
    			   $('\#image').val('');
    			   $('\#something').val('');
                   if (event.target.status != 200) {
                     $('div.image_upload_progress').html("<div class=\\"message error\\">"
                       + "<p><strong>#{t("failed_to_upload")}</strong></p></div>");
                       return false;
                    }
                    data = JSON.parse(event.target.responseText);
                    if(data.result == 2) {
                    $('div.image_upload_progress').html("<div class=\\"message error\\">"
                      + "<p><strong>#{t("invalid_file_extention")}</strong></p></div>");
                    } else if(data.result != 0) {
                    $('div.image_upload_progress').html("<div class=\\"message error\\">"
                      + "<p><strong>#{t("failed_to_upload")}</strong></p></div>");
                    } else {
                      $('div.image_upload_progress').html("<div class=\\"message notice\\">"
                      + "<p><strong>#{t("successfully_uploaded")}</strong></p></div>");
                      showImages(data);
                    }
    			 };
    			 function showImages(data) {
    			 	 ids = data.images;
                     thumbnails = data.thumbnails;
                     somethingies = data.somethingies;
                     var html = "";
                     for (var i=0; i<ids.length; i++) {
                       html += '<div style="position: relative; float: left;margin-left: 5px;maring-right:5px">';
                       html += '<img src="' + thumbnails[i] + '" title="' + somethingies[i] + '" />';
                       html += '<div style="position: absolute; top: 0px; left:95%;">';
                       html += '<a href="#{controller_path}/delete_image?a_id=' + ids[i] + '&t=' + $('\#write_at').val()|
				       if !@post.id.nil?
				    	 script += %Q| + '&id=#{@post.id}'|
   				       end
				       script += %Q| + '" class="delete_x" rel="nofollow" data-remote="true" data-method="delete" data-confirm="#{t('confirm_delete')}" title="#{t('delete')}">' + "#{t('x')}" + "</a>"
                       html += "</div></div>"
                     }
                     $('div.display_image').html(html);
    			 };
    			| %>
    			<%= _script(%Q|$('\#upload_image_submit').click(function() {upload_image();return false});
    			$('\#image').click(function() {$('div.image_upload_progress').html('');});
    			| + script) %>
			</div>
			<div class="group">
			<div class="display_image" style="margin: 3px;float:left">
				<% @images = @post.image %>
				<% @timestamp = @post.write_at %>
				<%= render :partial => 'sales_managements/shared/upload_image_box' %>
			</div>
		</div>
	</div>
	<% end %>
	<div class="group wat-cf">
		<div class="attachment">
			<div class="attachment_description" style="width:400px;margin:5px;">
	    	<%= f.label :add_attachment, t("attachment") + t("add"), :class => "label left" %>
			<div class="flash"><div class="attachment_upload_progress"></div></div>
	    	<span class="description"><%= t("post_attachment_upload_description") %></span>
	    	<br/>
			<%= file_field_tag :attachment, :id => "attachment" %>
			<br/>
			</div>
			<div style="position:relative;float:left;margin-top:10px">
			<div class="attachment_upload_status" style="display:none"><%= image_tag("common/loading.gif")%></div>
			</div>
			<% script = %Q|
                function upload_attachment() {
				  if($('\#attachment').val() != "") {
      				$('div.attachment_upload_status').css("display","block");
     				var formData = new FormData();
      				formData.append("file", document.getElementById('attachment').files[0]);
				    formData.append("authenticity_token", $("input[name='authenticity_token']").attr("value"));
				    formData.append("timestamp", $("\#write_at").attr("value"));
				    formData.append("category", "#{@category}");|
			        if !@post.id.nil?
				    	script += %Q|formData.append("id", #{@post.id});|
				    end
				    script += %Q|
      				var xhr = new XMLHttpRequest();
      				xhr.upload.addEventListener("progress", uploadAttachmentProgress, false);
         	        xhr.addEventListener("load", uploadAttachmentComplete, false);
      				xhr.open("POST", "#{controller_path}/upload_attachment", true);
      				xhr.send(formData);
      			  }
    			};
    			function uploadAttachmentProgress(event) {
      				var progress = Math.round((event.loaded / event.total) * 100);
      				$('div.attachment_upload_progress').html(progress + "%");
    			};
    			 function uploadAttachmentComplete(event) {
    			   $('div.attachment_upload_status').css("display","none");
    			   $('\#attachment').val('');
                   if (event.target.status != 200) {
                     $('div.attachment_upload_progress').html("<div class=\\"message error\\">"
                       + "<p><strong>#{t("failed_to_upload")}</strong></p></div>");
                       return false;
                    }
                    data = JSON.parse(event.target.responseText);
                    if(data.result == 2) {
                    $('div.attachment_upload_progress').html("<div class=\\"message error\\">"
                      + "<p><strong>#{t("invalid_file_extention")}</strong></p></div>");
                    } else if(data.result != 0) {
                    $('div.attachment_upload_progress').html("<div class=\\"message error\\">"
                      + "<p><strong>#{t("failed_to_upload")}</strong></p></div>");
                    } else {
                      $('div.attachment_upload_progress').html("<div class=\\"message notice\\">"
                      + "<p><strong>#{t("successfully_uploaded")}</strong></p></div>");
                      showAttachments(data);
                    }
    			 };
    			 function showAttachments(data) {
                      ids = data.attachments;
                      filesnames = data.filenames;
                      var html = "";
                      for (var i=0; i<ids.length; i++) {
                        html += '<div style="position: relative; float: left;margin-left: 5px">';
                        html += '<img src="/assets/common/Icon-Document03-Blue.png" width=50px height=50px title="' + filesnames[i] + '" />';
                        html += '<div style="position: absolute; top: 0px; left:95%;">';
                        html += '<a href="#{controller_path}/delete_attachment?a_id=' + ids[i] + '&t=' + $('\#write_at').val()|
				        if !@post.id.nil?
				    	  script += %Q| + '&id=#{@post.id}'|
   				        end
				        script += %Q| + '" class="delete_x" rel="nofollow" data-remote="true" data-method="delete" data-confirm="#{t('confirm_delete')}" title="#{t('delete')}">' + "#{t('x')}" + "</a>"
                        html += "</div></div>"
                      }
                      $('div.display_attachment').html(html);
    			 }
    			| %>
		    <%= _script(%Q|$('\#attachment').change(function() {upload_attachment();});
		       $('\#attachment').click(function() {$('div.attachment_upload_progress').html('');});
		    | + script) %>
			</div>
			<div class="group">
			<div class="display_attachment" style="margin: 3px;float:left"></div>
		</div>
	</div>
	<%= f.fields_for @post.content do |content_form| %>
	<div class="group wat-cf">
		<div class="">
			<%= content_form.label :body, t("content"), :class => "label left" %>
		</div>
		<div class="">
			<%= content_form.cktext_area :body, :toolbar => 'Full' %>
		</div>
		<span class="description"><%= t("optional") %></span>
	</div>
	<% end %>
</div>

<div class="group wat-cf">
	<div class="left">
		<%= f.submit t("create"), :class => "button" %>
	</div>
</div>

<% end %>
<% script = ""%>
<% if !@category.eql?(Style.page(:p_issue)) %>
<% script += %Q|
$('div.image_upload_status').css("display","block");

$.post("| + controller_path + "/get_image" + %Q|", {timestamp: $('\#write_at').val()|
if !@post.id.nil?
	script += ", id: #{@post.id}"
end
script += %Q|}, function(data) {
  $('div.image_upload_status').css("display","none");
  showImages(data);
});
|%>
<% end %>
<% script += %Q|
$('div.attachment_upload_status').css("display","block");
$.post("| + controller_path + "/get_attachment" + %Q|", {timestamp: $('\#write_at').val()|
if !@post.id.nil?
	script += ", id: #{@post.id}"
end
script += %Q|}, function(data) {
  $('div.attachment_upload_status').css("display","none");
  showAttachments(data);
});
|%>

<%= _script_document_ready(script) %>