<%= form_for(@post, :html => { :class => "form" }) do |f| %>
<%= hidden_field_tag :category, @category %>
<%= hidden_field_tag :page, @current_page %>
<% if @post.errors.any? %>
<div id="error_explanation">
	<ul>
		<% @post.errors.full_messages.each do |field, msg| %>
		<li>
			<%= field %>
		</li>
		<% end %>
	</ul>
</div>
<br/>
<% end %>
<div style="float:right">
	<%= label_tag :author, t("author"), :class => "label left" %>
	<%= current_admin.email %>
</div>
<div class="group wat-cf">
	<div class="">
		<%= f.label :is_deleted, t("hide"), :class => "label left" %>
	</div>
	<div class="">
		<%= f.check_box :is_deleted, :class => "text_field", :id => "_hide" %>
	</div>
	<span class="description"><%= t("if_checked_not_displayed") %></span>
</div>
<%= _script_document_ready(%Q|if ($('#_hide').is(":checked")) {$('#_filter').attr("style", "opacity: 0.2;filter: alpha(opacity=20);") }; $('#_hide').click(function() { if ($('#_hide').is(":checked")) {$('#_filter').attr("style", "opacity: 0.2;filter: alpha(opacity=20);") } else {$('#_filter').attr("style", "") }});|)%>
<div id="_filter">
	<div class="group wat-cf">
		<div class="">
			<%= f.label :subject, t("subject"), :class => "label left" %>
		</div>
		<div class="">
			<%= f.text_field :subject, :class => "text_field" %>
		</div>
		<span class="description"><%= t("must_be_filled") %></span>
	</div>
	<div class="group wat-cf">
		<div class="">
			<%= f.label :category, t("category"), :class => "label left" %>
		</div>
		<div class="">
			<%= f.select :category, options_for_select(@post.category_list, @post.category) %>
		</div>
		<span class="description"><%= t("must_be_selected") %></span>
	</div>
	<% if @post.respond_to? :room_type %>
	<div class="group wat-cf">
		<div class="">
			<%= f.label :room_type, t("room_type"), :class => "label left" %>
		</div>
		<div class="">
			<%= f.select :room_type, options_for_select(@post.room_type_list, @post.room_type) %>
		</div>
		<span class="description"><%= t("must_be_selected") %></span>
	</div>
	<% end%>
	<% if @post.respond_to? :price %>
	<div class="group wat-cf">
		<div class="">
			<%= f.label :price, t("price"), :class => "label left" %>
		</div>
		<div class="">
			<%= f.text_field :price, :class => "text_field" %>
		</div>
		<span class="description"><%= t("must_be_filled") %></span>
	</div>
	<% end %>
	<div class="group wat-cf">
		<div class="">
			<%= f.label :valid_until, t('valid_until'), :class => "label left" %>
		</div>
		<div class="">
			<%= f.date_select :valid_until, :class => "right" %><%= t('until')%>
		</div>
		<span class="description"><%= t("not_displayed_after_the_date") %></span>
	</div>
	<% if @post.id %>
	<div class="group wat-cf">
		<div class="">
			<%= f.label t("image"), :class => "label left" %>
		</div>
		<div class="">
			<%= _upload(@category, @post.id) %>
		</div>
		<span class="description"><%= t("acceptable_extention") %></span>
		<br/>
		<span class="description"><%= t("max_size") %></span>
	</div>

	<br/>
	<div class="group wat-cf">
		<div id="thumbnail_box_<%= @post.id%>">
			<%= render :partial => 'sales_managements/shared/imagebox' %>
		</div>
	</div>
	<%= f.fields_for @post.content do |content_form| %>
	<div class="group wat-cf">
		<div class="">
			<%= content_form.label :body, t("content"), :class => "label left" %>
		</div>
		<div class="">
			<%= content_form.cktext_area :body, :toolbar => 'Full' %>
		</div>
		<span class="description"><%= t("optional") %></span>
	</div>
	<% end %>
	<% end %>

</div>

<div class="group wat-cf">
	<div class="left">
		<%= f.submit t("create"), :class => "button" %>
	</div>
</div>

<% end %>
