<div class="secondary-navigation">
	<ul class="wat-cf">
		<li class="first" id="<%= Okvalue::ESTATE %>">
			<%= link_to t(Okvalue::ESTATE),  sales_managements_path(:category => Okvalue::ESTATE) %>
		</li>
		<li id="<%= Okvalue::BUSINESS %>">
			<%= link_to t(Okvalue::BUSINESS),  sales_managements_path(:category => Okvalue::BUSINESS)  %>
		</li>
		<li id="<%= Okvalue::MOTOR_VEHICLE %>">
			<%= link_to t(Okvalue::MOTOR_VEHICLE),  sales_managements_path(:category => Okvalue::MOTOR_VEHICLE)  %>
		</li>
		<li class="" id="<%= Okvalue::ACCOMMODATION %>">
			<%= link_to t(Okvalue::ACCOMMODATION),  sales_managements_path(:category => Okvalue::ACCOMMODATION)  %>
		</li>
		<li class="last" id="<%= Okvalue::IMMIGRATION %>">
			<%= link_to t(Okvalue::IMMIGRATION),  sales_managements_path(:category => Okvalue::IMMIGRATION)  %>
		</li>
	</ul>
</div>
<% if @category %>
<%= _script_document_ready(%Q|$('\##{@category}').addClass("active");|)%>
<% end %>
