<h2 class="title"><%= t("#{@category}")%>&nbsp;<%= t('List') %></h2>
<div class="inner">
	<div style="float:right">
		<%= paginate @post %>
	</div>
	<table class="table">
		<tr>
			<th class="first"><%= t("Id") %></th>
			<th><%= t("status") %></th>
			<th><%= t("category") %></th>
			<th><%= t("author") %></th>
			<th><%= t("subject") %></th>
			<th><%= t("created_at") %></th>
			<th><%= t("valid_until") %></th>
			<th><%= t("image") %></th>
			<th><%= t("viewed") %></th>
			<th><%= t("likes") %></th>
			<th><%= t("dislikes") %></th>
			<th><%= t("rank") %></th>
			<th><%= t("abuse") %></th>
			<th class="last"></th>
		</tr>
		<% if @post.nil? || @post.empty? %>
		<tr>
			<td colspan="14">
			<p>
				<%= t("no_information")%>
			</p></td>
		</tr>
		<% else %>
		<% @post.each do |item| %>
		<tr class="<%= cycle("odd", "even") %>">
			<td><%= item.id %></td>
			<td><%= t("#{item.status}") %></td>
			<td><%= t("#{item.category}") %></td>
			<td><%= author_name(item) %></td>
			<td><%= item.subject %></td>
			<td><%= Common.date_format(item.created_at) %></td>
			<td><%= Common.date_format(item.valid_until) %></td>
			<td> <% if item.has_image? %>
			<%= image_tag("common/IconData2.gif") %><%= item.image.size%>
			<% end %> </td>
			<td><%= item.views %></td>
			<td><%= item.likes %></td>
			<td><%= item.dislikes %></td>
			<td><%= item.rank %></td>
			<td><%= item.abuse %></td>
			</td>
			<td><%= link_to t('Show'), show_management_path(item, @category, @post.current_page) %>
			<br/>
			<%= link_to t('Edit'), edit_management_path(item, @category, @post.current_page) %>
			<br/>
			<%= link_to t("Delete"), delete_management_path(item, @category, @post.current_page), method: :delete, data: { confirm: t('confirm_delete') } %></td>
		</tr>
		<% end %>
		<% end %>
	</table>
</div>

