<p class="">
<strong><%= t("au_weather_information") %> <%= @au_dateOn %></strong>
</p>
<table class="table">
	<thead class="">
		<tr>
			<th class=""><%= t(:location)%></th>
			<th class=""><%= "#{t(:forecast)} #{t(:image)}" %></th>
			<th class=""><%= t(:forecast)%></th>
			<th class=""><%= t(:issuedOn)%></th>
			<th class=""><%= t(:maxTemp)%></th>
		</tr>
	</thead>
	<tbody class="">
		<% if !@au_weather.present? %>
		<tr>
			<td colspan="4"><%= t(:no_information) %> </td>
		</tr>
		<% else %>
		<% !@au_weather.reverse_each do |w| %>
		<% next if !WeatherConfig::AUSCityVisibleMap[w.location.to_sym] %>
		<tr>
			<td class=""><%= link_to(t(w.location), WeatherConfig::AUSCityMap[w.location.to_sym], :target => "_blank") %></td>
			<% if WeatherConfig.au_letter_to_icon(w.forecast).present? %>
			<td><%= image_tag("common/weather/#{WeatherConfig.au_letter_to_icon(w.forecast)}.png") %></td>
			<% else %>
			<td></td>
			<% end %>
			<td><%= w.forecast %></td>
			<td><%= w.issued %></td>
			<td><%= w.max %></td>
		</tr>
		<% end %>
		<% end %>
	</tbody>
</table>

