
<div id="_header" style="position: relative; width:100%; top:0px; height: 300px">
	<%= edittable_single_banner(:home, :header, 1) %>
	<%= edittable_single_banner(:home, :header, 2) %>
</div>
<div id="_body" style="position: relative; width:100%;">
	<div id="first_section">
		<div id="section_left" style="position: relative; width:65%; float: left">
			<%= edittable_single_banner(:home, :body, 1) %>
			<%= edittable_multi_banner(:home, :body, 3) %>
			<%= edittable_multi_banner(:home, :body, 4) %>
			<%= edittable_multi_banner(:home, :body, 5) %>
		</div>
		<div id="section_right" style="position: relative; float: right">
			<%= edittable_single_banner(:home, :body, 2) %>
		</div>
	</div>
	<div id="second_section">
		<div id="section_right" style="position: relative; float: right">
			<%= edittable_multi_banner(:home, :body, 6) %>
			<%= edittable_multi_banner(:home, :body, 7) %>
			<%= edittable_multi_banner(:home, :body, 8) %>
			<%= edittable_multi_banner(:home, :body, 9) %>
		</div>
	</div>
</div>
