<div class="page-header">
	<h2><%= t("rate_information") %> </h2>
</div>
<%= link_to(t(:collect_information), collect_rates_path, :class => "btn btn-primary")%>
<p class="">
<strong><%= t("rate_information_for") %> <%= @dateOn %></strong>
</p>
<% if @rates.present? %>
<table class="table">
	<thead class="">
		<tr>
			<th class=""></th>
			<th class=""><%= t(:rate_sell)%></th>
			<th class=""><%= t(:rate_buy)%></th>
			<th class=""><%= t(:rate_avg)%></th>
			</tr>
	</thead>
	<tbody class="">
		<tr>
			<td><%= image_tag("common/aud.gif")%> 1AUD</td>
			<td><%= i18n_currency(@rates[5].rate_a)%></td>
			<td><%= i18n_currency(@rates[4].rate_a)%></td>
			<td><%= i18n_currency(@rates[4].rate_c)%></td>
		</tr>
		<tr>
			<td><%= image_tag("common/nzd.gif")%> 1NZD</td>
			<td><%= i18n_currency(@rates[3].rate_a)%></td>
			<td><%= i18n_currency(@rates[2].rate_a)%></td>
			<td><%= i18n_currency(@rates[2].rate_c)%></td>
		</tr>
		<tr>
			<td><%= image_tag("common/usd.gif")%> 1USD</td>
			<td><%= i18n_currency(@rates[1].rate_a)%></td>
			<td><%= i18n_currency(@rates[0].rate_a)%></td>
			<td><%= i18n_currency(@rates[0].rate_c)%></td>
		</tr>
	</tbody>
</table>
<% else %>
<%= t(:no_information )%>
<% end %>
<p class="">
<strong><%= t("send_information_for") %> <%= @dateOn %></strong>
</p>
<% if @rates.present? %>
<table class="table">
	<thead class="">
		<tr>
			<th class=""></th>
			<th class=""><%= t(:rate_send)%></th>
			<th class=""><%= t(:rate_recv)%></th>
			<th class=""><%= t(:rate_avg)%></th>
			</tr>
	</thead>
	<tbody class="">
		<tr>
			<td><%= image_tag("common/aud.gif")%> 1AUD</td>
			<td><%= i18n_currency(@rates[5].rate_b)%></td>
			<td><%= i18n_currency(@rates[4].rate_b)%></td>
			<td><%= i18n_currency(@rates[5].rate_c)%></td>
		</tr>
		<tr>
			<td><%= image_tag("common/nzd.gif")%> 1NZD</td>
			<td><%= i18n_currency(@rates[3].rate_b)%></td>
			<td><%= i18n_currency(@rates[2].rate_b)%></td>
			<td><%= i18n_currency(@rates[3].rate_c)%></td>
		</tr>
		<tr>
			<td><%= image_tag("common/usd.gif")%> 1USD</td>
			<td><%= i18n_currency(@rates[1].rate_b)%></td>
			<td><%= i18n_currency(@rates[0].rate_b)%></td>
			<td><%= i18n_currency(@rates[1].rate_c)%></td>
		</tr>
	</tbody>
</table>
<% else %>
<%= t(:no_information )%>
<% end %>

