<h2><%= t("business_client") %></h2>
<div class="inner">
	<table class="table">
		<th class="first"><%= t("item") %></th>
		<th class="last"><%= t("content") %></th>
		<tr class="odd">
			<td><%= label_tag :business_name, t("business_name", :default => "Business Name"), :class => "label left" %> </td>
			<td><%= @business_client.business_name %></td>
		</tr>
		<tr class="even">
			<td><%= label_tag :contact_name, t("contact_name", :default => "Contact Name"), :class => "label left" %> </td>
			<td><%= @business_client.contact_name %></td>
		</tr>
		<tr class="odd">
			<td><%= label_tag :business_abn, t("business_abn", :default => "ABN"), :class => "label left" %> </td>
			<td><%= @business_client.business_abn %></td>
		</tr>
		<tr class="even">
			<td><%= label_tag :business_url, t("business_url", :default => "URL"), :class => "label left" %> </td>
			<td><%= @business_client.business_url %></td>
		</tr>
		<tr class="odd">
			<td><%= label_tag :business_phone, t("business_phone", :default => "Phone"), :class => "label left" %> </td>
			<td><%= @business_client.business_phone %></td>
		</tr>
		<tr class="even">
			<td><%= label_tag :business_fax, t("business_fax", :default => "Fax"), :class => "label left" %> </td>
			<td><%= @business_client.business_fax %></td>
		</tr>
		<tr class="odd">
			<td><%= label_tag :business_email, t("email"), :class => "label left" %> </td>
			<td><%= @business_client.business_email %></td>
		</tr>
		<tr class="even">
			<div id="business_client_banner_images">
				<td><%= label_tag :client_image, t("client_banner_image"), :class => "label left" %>
				<br/>
				<%= link_to t('add'), new_client_image_path(:client => @business_client, :page => @current_page) %> </td>
				<td>
				<div style="width:100%; position: relative; display: inline;">
					<% if @business_client.client_image %>
					<% @business_client.client_image.each do |client_image| %>
					<div style="position: relative; float: left; padding: 5px; width: 250px">
						<%= image_tag client_image.avatar.url(:thumb) %>&nbsp;
						<ul>
							<li>
								<%= t("size") %> : <%= client_image.medium_size %>
							</li>
							<li>
								<%= client_image.clicked %>&nbsp;<%= t("client_image_clicked") %>
							</li>
							<li><%= t("banner_page") %>
								<% if !client_image.attached %>
								<br/><%= t("not_present") %>
								<% elsif %>
								<br/><%= link_to client_image.attached.name, banner_path(client_image.attached_id) %>								
								<% end %>
							</li>

						</ul>
						<div style="float:left; position: relative; margin-top: 5px">
						<%= form_for(client_image, :method => :post, :html => { :class => "form" }) do |f| %>
						<%= f.submit t("delete"), :confirm => t("confirm_delete"), :class => "button"%>
						</div>
						<% end %>
					</div>
					<% end  %>
					<% end  %>
				</div></td>
		</tr>
		<tr class="odd">
			<td><%= label_tag :business_profile_image, t("client_business_profile_image",), :class => "label left" %> </td>
			<td><%= image_tag @business_client.business_profile_image.avatar.url(:medium) if !@business_client.business_profile_image.empty? %></td>
		</tr>
		<tr class="even">
			<td><%= label_tag :business_profile, t("business_profile", :default => "Profile"), :class => "label left" %> </td>
			<td><%=raw @business_client.business_profile.body %>
				</td>
		</tr>
	</table>
	<%= link_to t('Edit'), edit_business_client_path(@business_client) %> |
	<%= link_to t('Back'), business_clients_path(:page => @current_page) %>
</div>

