<div class="page-header">
	<h2><%= t("business_client") %> </h2>
</div>
	<table class="table table-condensed table-striped table-hover">
		<th class="first"><%= t("item") %></th>
		<th class="last"><%= t("content") %></th>
		<tr class="">
			<td><%= label_tag :business_name, t("business_name"), :class => "" %> </td>
			<td><%= @business_client.business_name %></td>
		</tr>
		<tr class="">
			<td><%= label_tag :business_name, t("logo"), :class => "" %></td>
			<% if @business_client.logo.present? %>
				<td><%= image_tag @business_client.logo.original_image %></td>
			<% else %>
				<td><%= noimage %></td>
			<% end %>
		</tr>
		<tr class="">
			<td><%= label_tag :contact_name, t("contact_name"), :class => "" %> </td>
			<td><%= @business_client.contact_name %></td>
		</tr>
		<tr class="">
			<td><%= label_tag :business_category, t("business_category"), :class => "" %> </td>
			<td><%= @business_client.business_category %></td>
		</tr>
		<tr class="">
			<td><%= label_tag :search_keyword, t("search_keyword"), :class => "" %> </td>
			<td><%= @business_client.search_keyword %></td>
		</tr>
		<tr class="">
			<td><%= label_tag :business_abn, t("business_abn"), :class => "" %> </td>
			<td><%= @business_client.business_abn %></td>
		</tr>
		<tr class="">
			<td><%= label_tag :business_url, t("business_url"), :class => "" %> </td>
			<td><%= @business_client.business_url %></td>
		</tr>
		<tr class="">
			<td><%= label_tag :business_phone, t("business_phone"), :class => "" %> </td>
			<td><%= @business_client.business_phone %></td>
		</tr>
		<tr class="">
			<td><%= label_tag :business_fax, t("business_fax"), :class => "" %> </td>
			<td><%= @business_client.business_fax %></td>
		</tr>
		<tr class="">
			<td><%= label_tag :business_address, t("business_address"), :class => "" %> </td>
			<td><%= @business_client.business_address %></td>
		</tr>
		<tr class="">
			<td><%= label_tag :business_email, t("email"), :class => "" %> </td>
			<td><%= @business_client.business_email %></td>
		</tr>
		<tr class="">
			<div id="business_client_banner_images">
				<td><%= label_tag :client_image, t("client_banner_image"), :class => "" %>
				<br/>
				<%= link_to t('add'), new_client_image_path(:client => @business_client, :page => @current_page), :class => "btn" %> </td>
				<td>
				<ul class="thumbnails">
					<% if !@business_client.client_image.empty? %>
					<% @business_client.client_image.each do |client_image| %>
					<li class="thumbnail banner_image_thumbnail_each pull-left">
						<%= image_tag client_image.thumb_image, :size => client_image.thumb_size %>
						<%= flash?(client_image) %>
						<p><%= t("size") %> : <%= client_image.original_size %></p>
						<p><%= client_image.clicked %>&nbsp;<%= t("client_image_clicked") %></p>
						<% if client_image.caption.present? %>
						</p><%= client_image.caption %></p>
						<% end %>
						
						<p><%= t("banner_page") %></p>
						<% if !client_image.banner.present? %>
							<p><%= t("not_present") %></p>
						<% else %>
							<p><%= client_image.banner.size %></p>
						<% end %>
						<span class="">
							<%= link_to(t('delete'), client_image, :method => :delete, :data => { :confirm => t('confirm_delete') }, :class => "btn btn-link") %>
							<%= link_to(t('Edit'), edit_client_image_path(client_image), :class => "btn btn-link") %>
						</span>
					</li>
					<% end  %>
					<% else %>
					<%= noimage %>
					<% end %>
				</ul></td>
		</tr>
		<tr class="">
			<td><%= label_tag :business_profile_image, t("business_profile_image"), :class => "" %>
			<br/>
			<%= link_to t('add'), new_business_profile_image_path(:client => @business_client, :page => @current_page), :class => "btn" %> </td>
			</td>
			<td>
			<ul class="thumbnails">
				<% if @business_client.business_profile_image.present? %>
				<% @business_client.business_profile_image.each do |business_profile_image| %>
				<li class="span2 pull-left">
					<%= image_tag business_profile_image.avatar.url(:thumb) %>
					<% if business_profile_image.is_main %>
					<p class="text-info"><%= t("is_main_profile")%></p>
					<% end %>
					<div style="position: relative; margin-top: 5px">
						<%= form_for(business_profile_image, :method => :delete, :html => { :class => "form" }) do |f| %>
						<%= f.submit t("delete"), :data => { :confirm => t("confirm_delete") } , :class => "btn"%>
						<% end %>
					</div>
					<br/>
					<%= t("image_size") %> <%= business_profile_image.original_size %>
				</li>
				<% end %>
				<% elsif %>
				<%= noimage %>
				<% end %>
			</ul></td>
		</tr>
		<tr class="">
			<td><%= label_tag :business_profile_head, t("business_profile_head"), :class => "" %> </td>
			<td><%= raw @business_client.business_profile.head %> </td>
		</tr>
		<tr class="">
			<td><%= label_tag :business_profile, t("business_profile"), :class => "" %> </td>
			<td><%= raw @business_client.business_profile.body %> </td>
		</tr>
	</table>
	<%= link_to t('Edit'), edit_business_client_path(@business_client), :class => "btn btn-link" %> |
	<%= link_to t('Back'), business_clients_path(:page => @current_page), :class => "btn btn-link" %>


