<!DOCTYPE html>
<html>
	<head>
		<title>ADMIN OKBRISBANE</title>
		<%= stylesheet_link_tag "application", :cache => false %>
		<%= javascript_include_tag "application", :cache => false %>
		<%= javascript_include_tag 'slides.min.jquery.js' %>
		<%= csrf_meta_tag %>
	</head>
	<body>
		<div id="container">
			<div id="header">
				<h1><a href="/">OKBRISBANE</a></h1>
				<div id="user-navigation">
					<ul class="wat-cf">

						<li>
							<%= link_to t("system_management"), "#" %></a>
						</li>
						<li>
							<%= link_to t("signout"), destroy_admin_session_path, :method => :delete, :class => "logout", data: { confirm: t('are_you_sure_to_singout') } %>
						</li>
					</ul>
				</div>
				<div id="main-navigation">
					<ul>
						<li>
							<%= link_to t("client_management"), business_clients_path %>
						</li>
						<li id="navigation_banner_management">
							<%= link_to t("banner_management"), banners_path %>
										<span class="banner_management_menu">
				<div class="">
					<ul class="">
						<% Style.pages.each do |key,page| %>
						<li class="" id="<%= page %>" >
							<%= link_to(t(page), banners_path(:page_id => Style.pageid(key))) %>
						</li>
						<% end %>
					</ul>
				</div></span>
						</li>
						<li>
							<%= link_to t("sales_management"), sales_managements_path %>
						</li>
						<li>
							<%= link_to t("post_management"), post_managements_path %>
						</li>
						<li>
							<%= link_to t("member_management"), users_path %>
						</li>
						<li>
							<%= link_to t("site_statistics"), "#" %>
						</li>
						<li>
							<%= link_to t("issue_management"), "#" %>
						</li>
					</ul>
					<div class="clear"></div>
				</div>
			</div>

			<div id="wrapper" class="wat-cf">
				<div class="flash">
					<% flash.each do |type, message| -%>
					<div class="message <%= type %>">
						<p>
							<%= message %>
						</p>
					</div>
					<% end -%>
				</div>
				<div id="main">
					<div class="block">
						<div class="content">
							<%= yield %>
						</div>
					</div>
					<div id="footer">
						<div class="block">
							<p>
								Copyright &copy; <%= Time.now.year %> OKBRISBANE.  <%= version %>
							</p>
						</div>
					</div>
				</div>
				<div id="sidebar">
					<%= yield :sidebar %>
				</div>
			</div>
		</div>
	</body>
</html>
