<!DOCTYPE html>
<html>
	<head>
		<title>ADMIN OKBRISBANE</title>
		<%= stylesheet_link_tag "application", :cache => false %>
		<%= javascript_include_tag "application", :cache => false %>
		<%= javascript_include_tag 'slides.min.jquery.js' %>
		<%= csrf_meta_tag %>
	</head>
	<body>
		<div id="container">
			<div id="header">
				<h1><a href="/">OKBRISBANE</a></h1>
				<div id="user-navigation">
					<ul class="wat-cf">
						<li>
							<%= link_to t("system_management"), "#" %></a>
						</li>
						<li>
							<%= link_to t("signout"), destroy_admin_session_path, :method => :delete, :class => "logout", data: { confirm: t('are_you_sure_to_singout') } %>
						</li>
					</ul>
				</div>
				<div id="main-navigation">
					<ul>
						<li id="navigation_management">
							<%= link_to t("client_management"), business_clients_path %>
							<span class="management_menu">
								<div class="">
									<ul class="">
										<li class="menu">
											<%= link_to t("listing"), business_clients_path %>
										</li>
										<li class="menu">
											<%= link_to t("add"), new_business_client_path(@current_page) %>
										</li>

									</ul>
								</div></span>
						</li>
						<li id="navigation_management">
							<%= link_to t("banner_management"), banners_path %>
							<span class="management_menu">
								<div class="">
									<ul class="">
										<li class="item" id="menu_banner_page">
											<%= t("page") %> <%= t("listing") %>
											<ul class="">
												<li class="menu" id="menu_banner_image_size_list">
													<%= link_to(t("image_size_list"), image_size_index_banners_path) %>
												</li>
												<li class="menu" id="menu_banner_all_page_list">
													<%= link_to(t("all_page_list"), all_page_index_banners_path) %>
												</li>
											</ul>
										<li class="item" id="menu_banner_page_list">
											<%= t("page") %>
											<ul class="">
												<% Style.pages.each do |key,page| %>
												<li class="menu" id="menu_banner_<%= page %>">
													<%= link_to(t(page), banners_path(:page_id => Style.pageid(key))) %>
												</li>
												<% end %>
											</ul>
										</li>
									</ul>
								</div></span>
						</li>
						<li id="navigation_management">
							<%= link_to t("sales_management"), "#" %>
                                <span class="management_menu">
								<div class="">
									<ul class="">
										<% [:p_estate,:p_motor_vehicle,:p_business,:p_accommodation,:p_law,:p_tax,:p_study,:p_immig].each do |page| %>
										<li class="item" id="menu_<%= Style.page(page) %>">
											<%= t(Style.page(page)) %>
            								<ul class="">
												<li class="menu" id="menu_valid_list_<%= Style.page(page) %>">
													<%= link_to t("public") << " " << t("post_list"),  sales_managements_path(:category => Style.page(page), :status => 'valid')  %>
												</li>
												<li class="menu" id="menu_invalid_list_<%= Style.page(page) %>">
													<%= link_to t("hidden") << " " << t("post_list"),  sales_managements_path(:category => Style.page(page), :status => 'invalid')  %>
												</li>
												<li class="menu" id="menu_expired_<%= Style.page(page) %>">
													<%= link_to t("expired") << " " << t("post_list"),  sales_managements_path(:category => Style.page(page), :status => 'expired') %>
												</li>
												<li class="menu" id="menu_new_<%= Style.page(page) %>">
													<%= link_to t("add"),  write_sales_managements_path(:category => Style.page(page)) %>
												</li>
											</ul>
										</li>
										<% end %>
									</ul>
								</div></span>
						</li>
						<li id="navigation_management">
							<%= link_to t("post_management"), "#" %>
							<span class="management_menu">
								<div class="">
									<ul class="">
										<% [:p_job,:p_buy_and_sell,:p_well_being].each do |page| %>
										<li class="item" id="menu_<%= Style.page(page) %>">
											<%= t(Style.page(page)) %>
            								<ul class="">
												<li class="menu" id="menu_valid_list_<%= Style.page(page) %>">
													<%= link_to t("public") << " " << t("post_list"),  posts_managements_path(:category => Style.page(page), :status => 'valid')  %>
												</li>
												<li class="menu" id="menu_invalid_list_<%= Style.page(page) %>">
													<%= link_to t("hidden") << " " << t("post_list"),  posts_managements_path(:category => Style.page(page), :status => 'invalid')  %>
												</li>
												<li class="menu" id="menu_expired_<%= Style.page(page) %>">
													<%= link_to t("expired") << " " << t("post_list"),  posts_managements_path(:category => Style.page(page), :status => 'expired') %>
												</li>
												<li class="menu" id="menu_new_<%= Style.page(page) %>">
													<%= link_to t("add"),  write_posts_managements_path(:category => Style.page(page)) %>
												</li>
											</ul>
										</li>
										<% end %>
									</ul>
								</div></span>
						</li>
						<li id="navigation_management">
							<%= link_to t("member_management"), "#" %>
							<span class="management_menu">
								<div class="">
									<ul class="">
										<li class="item" id="menu_user">
											<%= t("member") %>
											<ul class="">
												<li class="menu" id="menu_user_list">
													<%= link_to t("listing"), users_path %>
												</li>
											</ul>
										</li>
										<li class="item" id="menu_admin">
											<%= t("admin") %>
											<ul class="">
												<li class="menu" id="menu_admin_list">
													<%= link_to t("listing"), okadmins_path %>
												</li>
											</ul>
										</li>
									</ul>
								</div></span>
						</li>
						<li>
							<%= link_to t("site_statistics"), "#" %>
						</li>
						<li>
							<%= link_to t("issue_management"), "#" %>
						</li>
					</ul>
					<div class="clear"></div>
				</div>
			</div>

			<div id="wrapper" class="wat-cf">
				<div class="flash">
					<% flash.each do |type, message| -%>
					<div class="message <%= type %>">
						<p>
							<%= message %>
						</p>
					</div>
					<% end -%>
				</div>
				<div id="main">
					<div class="block">
						<div class="content">
							<%= yield %>
						</div>
					</div>
					<div id="footer">
						<div class="block">
							<p>
								Copyright &copy; <%= Time.now.year %> OKBRISBANE.  <%= version %>
							</p>
						</div>
					</div>
				</div>
				<div id="sidebar">
					<%= yield :sidebar %>
				</div>
			</div>
		</div>
	</body>
</html>
