<!DOCTYPE html>
<html>
	<head>
		<% if AdminOkbrisbane::Application.config.ok_debug %>
		<title>ADMIN OKBRISBANE DEBUG</title>
		<% else %>
		<title>ADMIN OKBRISBANE</title>
		<% end %>
		<script type="text/javascript">
			var CKEDITOR_BASEPATH = '/assets/ckeditor/';
		</script>
		<%= stylesheet_link_tag "application" %>
		<%= javascript_include_tag "application" %>
		<%= csrf_meta_tag %>
		<%= csrf_meta_tag %>
	</head>
	<body>
		<div id="container">
			<div id="header">
				<h1><a href="/">OKBRISBANE</a></h1>
				<div id="user-navigation">
					<ul class="wat-cf">
						<% if current_admin.can_view_for?(:m_system_setting) %>
						<li id="navigation_management">
							<%= t(:system_management) %>
							<span class="management_menu">
								<div class="">
									<ul class="">
										<li class="item" id="menu_system_setting">
											<%= t(:system_management) %>
											<ul class="">
												<li class="menu" id="menu_system_setting_list">
													<%= link_to t("listing"), system_settings_path %>
												</li>
											</ul>
										</li>
										<li class="item" id="menu_weather_information">
											<%= t(:weather_information) %>
											<ul class="">
												<li class="menu" id="menu_weather_list">
													<%= link_to t("listing"), "#" %>
												</li>
											</ul>
										</li>
										<li class="item" id="menu_rate_information">
											<%= t(:rate_information) %>
											<ul class="">
												<li class="menu" id="menu_rate_list">
													<%= link_to t("listing"), rates_path %>
												</li>
											</ul>
										</li>
									</ul>
								</div></span>
						</li>
						<% end %>
						<li>
							<%= link_to t("change_password"), edit_admin_registration_path, :method => :get, :class => "password_change" %>
						</li>
						<li>
							<%= link_to t("signout"), destroy_admin_session_path, :method => :delete, :class => "logout", :data => { :confirm => t('are_you_sure_to_singout') } %>
						</li>
					</ul>
				</div>
				<div id="main-navigation">
					<ul class="wat-cf">
						<% if current_admin.can_view_for?(:m_business_client) %>
						<li id="navigation_management">
							<%= link_to t("client_management"), "#" %>
							<span class="management_menu">
								<div class="">
									<ul class="">
										<li class="item" id="menu_business_client">
											<%= t("business_client") %>
											<ul class="">
												<li class="menu" id="menu_business_client_list">
													<%= link_to t("listing"), business_clients_path %>
												</li>
												<li class="menu" id="menu_new_business_client">
													<%= link_to t("add"), new_business_client_path(@current_page) %>
												</li>
											</ul>
										</li>
										<li class="item" id="menu_business_category">
											<%= t("business_category") %>
											<ul class="">
												<li class="menu" id="menu_business_category_list">
													<%= link_to t("listing"), business_categories_path %>
												</li>
												<li class="menu" id="menu_new_business_client">
													<%= link_to t("add"), new_business_category_path(@current_page) %>
												</li>
											</ul>
										</li>
									</ul>
								</div></span>
						</li>
						<% end %>
						<% if current_admin.can_view_for?(:m_banner) %>
						<li id="navigation_management">
							<%= link_to t("banner_management"), banners_path %>
							<span class="management_menu">
								<div class="">
									<ul class="">
										<li class="item" id="menu_banner_page">
											<%= t("page") %> <%= t("listing") %>
											<ul class="">
												<li class="menu" id="menu_banner_image_size_list">
													<%= link_to(t("image_size_list"), image_size_index_banners_path) %>
												</li>
												<li class="menu" id="menu_banner_all_page_list">
													<%= link_to(t("all_page_list"), all_page_index_banners_path) %>
												</li>
											</ul>
										<li class="item" id="menu_banner_page_list">
											<%= t("page") %>
											<ul class="">
												<% Style.banner_pages.each do |key,page| %>
												<li class="menu" id="menu_banner_<%= page %>">
													<%= link_to(t(page), banners_path(:page_id => Style.pageid_key(key))) %>
												</li>
												<% end %>
											</ul>
										</li>
									</ul>
								</div></span>
						</li>
						<% end %>
						<% if current_admin.can_view_for?(:m_sales) %>
						<li id="navigation_management">
							<%= link_to t("sales_management"), "#" %>
							<span class="management_menu">
								<div class="">
									<ul class="">
										<% [:p_estate,:p_motor_vehicle,:p_business,:p_accommodation,:p_law,:p_tax,:p_study,:p_immig].each do |page| %>
										<li class="item" id="menu_<%= Style.page(page) %>">
											<%= t(Style.page(page)) %>
											<ul class="">
												<li class="menu" id="menu_valid_list_<%= Style.page(page) %>">
													<%= link_to t("public") << " " << t("post_list"),  sales_managements_path(:category => Style.page(page), :status => 'valid')  %>
												</li>
												<li class="menu" id="menu_invalid_list_<%= Style.page(page) %>">
													<%= link_to t("hidden") << " " << t("post_list"),  sales_managements_path(:category => Style.page(page), :status => 'invalid')  %>
												</li>
												<li class="menu" id="menu_expired_<%= Style.page(page) %>">
													<%= link_to t("expired") << " " << t("post_list"),  sales_managements_path(:category => Style.page(page), :status => 'expired') %>
												</li>
												<li class="menu" id="menu_new_<%= Style.page(page) %>">
													<%= link_to t("add"),  write_sales_managements_path(:category => Style.page(page)) %>
												</li>
											</ul>
										</li>
										<% end %>
									</ul>
								</div></span>
						</li>
						<% end %>
						<% if current_admin.can_view_for?(:m_post) %>
						<li id="navigation_management">
							<%= link_to t("post_management"), "#" %>
							<span class="management_menu">
								<div class="">
									<ul class="">
										<% [:p_job,:p_buy_and_sell,:p_well_being].each do |page| %>
										<li class="item" id="menu_<%= Style.page(page) %>">
											<%= t(Style.page(page)) %>
											<ul class="">
												<li class="menu" id="menu_valid_list_<%= Style.page(page) %>">
													<%= link_to t("public") << " " << t("post_list"),  posts_managements_path(:category => Style.page(page), :status => 'valid')  %>
												</li>
												<li class="menu" id="menu_invalid_list_<%= Style.page(page) %>">
													<%= link_to t("hidden") << " " << t("post_list"),  posts_managements_path(:category => Style.page(page), :status => 'invalid')  %>
												</li>
												<li class="menu" id="menu_expired_<%= Style.page(page) %>">
													<%= link_to t("expired") << " " << t("post_list"),  posts_managements_path(:category => Style.page(page), :status => 'expired') %>
												</li>
												<li class="menu" id="menu_new_<%= Style.page(page) %>">
													<%= link_to t("add"),  write_posts_managements_path(:category => Style.page(page)) %>
												</li>
											</ul>
										</li>
										<% end %>
									</ul>
								</div></span>
						</li>
						<% end %>
						<% if current_admin.can_view_for?(:m_user) %>
						<li id="navigation_management">
							<%= link_to t("member_management"), "#" %>
							<span class="management_menu">
								<div class="">
									<ul class="">
										<li class="item" id="menu_user">
											<%= t("member") %>
											<ul class="">
												<li class="menu" id="menu_user_list">
													<%= link_to t("listing"), users_path %>
												</li>
											</ul>
										</li>
										<li class="item" id="menu_admin">
											<%= t("admin") %>
											<ul class="">
												<li class="menu" id="menu_admin_list">
													<%= link_to t("listing"), okadmins_path %>
												</li>
											</ul>
										</li>
									</ul>
								</div></span>
						</li>
						<% end %>
						<% if current_admin.can_view_for?(:m_site) %>
						<li id="navigation_management">
							<%= link_to t("site_statistics"), "#" %>
							<span class="management_menu">
								<div class="">
									<ul class="">
										<li class="item" id="menu_issue">
											<%= t(:statistics) %>
											<ul class="">
												<li class="menu" id="menu_issue_list">
													<%= link_to t(:daily_statistics), statistics_path(:status => Okvalue::SITE_STATISTICS_DAILY) %>
												</li>
												<li class="menu" id="menu_new_issue">
													<%= link_to t(:monthly_statistics), statistics_path(:status => Okvalue::SITE_STATISTICS_MONTHLY) %>
												</li>
											</ul>
										</li>
									</ul>
								</div> </span>
						</li>
						<% end %>
						<% if current_admin.can_view_for?(:m_issue) %>
						<li id="navigation_management">
							<%= link_to t("issue_management"), "#" %>
							<span class="management_menu">
								<div class="">
									<ul class="">
										<% [:p_issue].each do |page| %>
										<li class="item" id="menu_issue">
											<%= t("issue") %>
											<ul class="">
												<li class="menu" id="menu_issue_list">
													<%= link_to t("listing"), issues_managements_path(:category => Style.page(page), :status => 'valid') %>
												</li>
												<li class="menu" id="menu_new_issue">
													<%= link_to t("add"), write_issues_managements_path(:category => Style.page(page)) %>
												</li>
											</ul>
										</li>
										<% end %>
									</ul>
								</div> </span>
						</li>
						<% end %>
					</ul>
					<div class="clear"></div>
				</div>
			</div>

			<div id="wrapper" class="wat-cf">
				<div class="flash">
					<% flash.each do |type, message| -%>
					<div class="message <%= type %>">
						<p>
							<%= message %>
						</p>
					</div>
					<% end -%>
				</div>
				<div id="main">
					<div class="block">
						<div class="content">
							<%= yield %>
						</div>
					</div>
					<div id="footer">
						<div class="block">
							<p>
								Copyright &copy; <%= Common.current_time.year %> OKBRISBANE.  <%= version %> <%= link_to t("report_issue"), write_posts_managements_path(:category => Style.page(:p_issue)) %>
							</p>
						</div>
					</div>
				</div>
				<div id="sidebar">
					<%= yield :sidebar %>
				</div>
			</div>
		</div>
	</body>
</html>
