<!DOCTYPE html>
<html>
	<head>
		<% if AdminOkbrisbane::Application.config.ok_debug %>
		<title>ADMIN OKBRISBANE DEBUG</title>
		<% else %>
		<title>ADMIN OKBRISBANE</title>
		<% end %>
		<script type="text/javascript">
			var CKEDITOR_BASEPATH = '/assets/ckeditor/';
		</script>
		<%= stylesheet_link_tag "application" %>
		<%= javascript_include_tag "application" %>
		<%= csrf_meta_tag %>
		<%= csrf_meta_tag %>
	</head>
	<body>
		<div class="row">
		<%= render :partial => "layouts/navigation" %>
		</div>
		<div class="container" style="margin-top:50px">
			<%= show_alert %>
			<%= show_notice %>
		</div>
		<div class="container" style="background-color:#ffffff;padding:10px;">
			<div class="container-fluid">
				<div class="row-fluid">
					<%= yield %>
				</div>
			</div>
		</div>
		<div class="footer">
			<div class="container">
				<p>
					Copyright &copy; <%= Common.current_time.year %> OKBRISBANE.  <%= version %> <%= link_to t("report_issue"), write_posts_managements_path(:category => Style.page(:p_issue)) %>
				</p>
			</div>
		</div>
	</body>
</html>
